In [13]:
#Import Dependancies
import pandas as pd
import os

In [14]:
#Import File
stocks = 'Stocks_Traded.csv'
stocks_df = pd.read_csv(stocks,  sep="\t")
stocks_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Stocks traded, total value (% of ...
3  Africa Eastern and Southern,"AFE","Stocks trad...
4  Afghanistan,"AFG","Stocks traded, total value ...
5  Africa Western and Central,"AFW","Stocks trade...
6  Angola,"AGO","Stocks traded, total value (% of...
7  Albania,"ALB","Stocks traded, total value (% o...
8  Andorra,"AND","Stocks traded, total value (% o...
9  Arab World,"ARB","Stocks traded, total value (...

In [15]:
list(stocks_df)

['Data Source,"World Development Indicators",']

In [16]:
# Get the contents of row 2
row_2_data = stocks_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [17]:
# Split columns
split_data = stocks_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_stocks_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_stocks_df = pd.concat([split_stocks_df, split_data.iloc[:, 4:]], axis=1)
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
4,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
5,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
9,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",

In [18]:
# Assign row 0 as column names
split_stocks_df.columns = split_stocks_df.iloc[0]

# Remove any quotation marks from column names
split_stocks_df.columns = split_stocks_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
1,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
4,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
5,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
8,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",
9,Argentina,"""ARG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174""","""0.56622858756388""","""""","""""",

In [19]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_stocks_df[selected_columns]

cleaned_stocks_df = selected_columns

cleaned_stocks_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
3,Africa Western and Central,"""AFW""","""1.34813544254563""","""1.25170779319388""","""0.864961599083139""","""0.797348310049023""","""1.08488860420404""","""0.887905580116147""","""0.854933694128718""","""""","""""","""""",""""""
4,Angola,"""AGO""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
5,Albania,"""ALB""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""19.645323140762""","""28.1401541498559""","""""","""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357"""
8,United Arab Emirates,"""ARE""","""25.9527767613405""","""9.56482751251492""","""4.27882015993316""","""4.66753962385421""","""""","""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634"""
9,Argentina,"""ARG""","""0.453659663659484""","""0.600714181209072""","""0.462939195882696""","""0.267799853085437""","""0.405291324046884""","""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174"""

In [20]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_stocks_df = cleaned_stocks_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_stocks_df.columns[2:13]:
    cleaned_stocks_df[column] = pd.to_numeric(cleaned_stocks_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_stocks_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Replace the NaN values with 0
cleaned_stocks_df.fillna(0, inplace=True)

cleaned_stocks_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Afghanistan,AFG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,0.000000,0.000000,0.000000,0.000000
4,Angola,AGO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Andorra,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Arab World,ARB,0.000000,0.000000,19.645323,28.140154,0.000000,38.675883,29.037776,21.399872,16.440799,14.269849,12.679124
8,United Arab Emirates,ARE,25.952777,9.564828,4.278820,4.667540,0.000000,34.789326,15.555538,13.396592,11.310515,5.954781,6.998091
9,Argentina,ARG,0.453660,0.600714,0.462939,0.267800,0.405291,0.669274,0.453943,0.782151,1.024314,0.870999,0.666287

In [22]:
# Calculate the average for each country
average_by_country = cleaned_stocks_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_stocks_df.columns[2:]:
    cleaned_stocks_df[col] =cleaned_stocks_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_stocks_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Afghanistan,AFG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Africa Western and Central,AFW,1.348135,1.251708,0.864962,0.797348,1.084889,0.887906,0.854934,0.644535,0.644535,0.644535,0.644535
4,Angola,AGO,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Albania,ALB,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Andorra,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Arab World,ARB,16.389889,16.389889,19.645323,28.140154,16.389889,38.675883,29.037776,21.399872,16.440799,14.269849,12.679124
8,United Arab Emirates,ARE,25.952777,9.564828,4.278820,4.667540,12.042619,34.789326,15.555538,13.396592,11.310515,5.954781,6.998091
9,Argentina,ARG,0.453660,0.600714,0.462939,0.267800,0.405291,0.669274,0.453943,0.782151,1.024314,0.870999,0.666287

In [23]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_stocks_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Stock Traded $B")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Stock Traded $B
0                  Afghanistan          AFG  2010             0.00
1  Africa Eastern and Southern          AFE  2010             0.00
2   Africa Western and Central          AFW  2010             1.35
3                      Albania          ALB  2010             0.00
4                      Algeria          DZA  2010             0.00

In [24]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Stock_Traded.csv', index=False)