In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
stocks = 'Stocks_Traded.csv'
stocks_df = pd.read_csv(stocks,  sep="\t")
stocks_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Stocks traded, total value (% of ...
3  Africa Eastern and Southern,"AFE","Stocks trad...
4  Afghanistan,"AFG","Stocks traded, total value ...
5  Africa Western and Central,"AFW","Stocks trade...
6  Angola,"AGO","Stocks traded, total value (% of...
7  Albania,"ALB","Stocks traded, total value (% o...
8  Andorra,"AND","Stocks traded, total value (% o...
9  Arab World,"ARB","Stocks traded, total value (...

In [3]:
list(stocks_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = stocks_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = stocks_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_stocks_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_stocks_df = pd.concat([split_stocks_df, split_data.iloc[:, 4:]], axis=1)
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
4,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
5,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
9,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",

In [6]:
# Assign row 0 as column names
split_stocks_df.columns = split_stocks_df.iloc[0]

# Remove any quotation marks from column names
split_stocks_df.columns = split_stocks_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_stocks_df = split_stocks_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_stocks_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
1,Africa Eastern and Southern,"""AFE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Afghanistan,"""AFG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Africa Western and Central,"""AFW""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""","""""","""""",
4,Angola,"""AGO""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
5,Albania,"""ALB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
6,Andorra,"""AND""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Arab World,"""ARB""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""","""""","""""",
8,United Arab Emirates,"""ARE""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""","""""","""""",
9,Argentina,"""ARG""","""Stocks traded","total value (% of GDP)""","""CM.MKT.TRAD.GD.ZS""","""""","""""","""""","""""","""""",...,"""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174""","""0.56622858756388""","""""","""""",

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_stocks_df[selected_columns]

cleaned_stocks_df = selected_columns

cleaned_stocks_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""36.1269109533485""","""36.8326063082936""","""20.2114317377838""","""""","""""","""28.6275772424221""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
3,Africa Western and Central,"""AFW""","""""","""""","""""","""""","""""","""""","""0.969213799902411""","""1.31972855835971""",...,"""0.797348310049023""","""1.08488860420404""","""0.887905580116147""","""0.854933694128718""","""""","""""","""""","""""","""0.47480046887261""",""""""
4,Angola,"""AGO""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
5,Albania,"""ALB""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""""","""""","""""","""""","""""","""152.048590009835""",...,"""28.1401541498559""","""""","""38.6758832830464""","""29.0377763302157""","""21.3998718786649""","""16.4407988828598""","""14.2698494789088""","""12.679124468357""","""28.5446610281298""",""""""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""9.08877377185638""",...,"""4.66753962385421""","""""","""34.7893264139971""","""15.5555376289744""","""13.3965921370208""","""11.3105145653636""","""5.95478136371707""","""6.99809073726634""","""10.7330890668523""",""""""
9,Argentina,"""ARG""","""4.1838545726449""","""3.21798357692325""","""2.47937498313619""","""1.19582697101542""","""2.29608863649362""","""2.76418511242315""","""2.64559064812489""","""1.45684120465348""",...,"""0.267799853085437""","""0.405291324046884""","""0.669273860698598""","""0.453942537841681""","""0.782151178958785""","""1.02431429882039""","""0.870998502052646""","""0.666286716480174""","""0.56622858756388""",""""""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_stocks_df = cleaned_stocks_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_stocks_df.columns[2:25]:
    cleaned_stocks_df[column] = pd.to_numeric(cleaned_stocks_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_stocks_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,36.126911,36.832606,20.211432,NaN,NaN,28.627577,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,0.969214,1.319729,...,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN,0.4748,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Perform data interpolation on the numeric columns
cleaned_stocks_df = cleaned_stocks_df.interpolate(method='linear')
cleaned_stocks_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,36.126911,36.832606,20.211432,NaN,NaN,28.627577,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,32.134029,32.630778,17.994925,NaN,NaN,25.394653,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,28.141147,28.428951,15.778418,NaN,NaN,22.161729,0.969214,1.319729,...,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN,0.474800,NaN
4,Angola,AGO,24.148265,24.227123,13.561910,NaN,NaN,18.928805,1.248610,39.001944,...,7.633050,0.971622,10.334900,7.900644,NaN,NaN,NaN,NaN,7.492266,NaN

In [11]:
# Calculate the average for each country
average_by_country = cleaned_stocks_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_stocks_df.columns[2:]:
    cleaned_stocks_df[col] =cleaned_stocks_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_stocks_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,36.126911,36.832606,20.211432,NaN,NaN,28.627577,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,32.134029,32.630778,17.994925,NaN,NaN,25.394653,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,28.141147,28.428951,15.778418,NaN,NaN,22.161729,0.969214,1.319729,...,0.797348,1.084889,0.887906,0.854934,NaN,NaN,NaN,NaN,0.474800,NaN
4,Angola,AGO,24.148265,24.227123,13.561910,NaN,NaN,18.928805,1.248610,39.001944,...,7.633050,0.971622,10.334900,7.900644,NaN,NaN,NaN,NaN,7.492266,NaN
5,Albania,ALB,20.155383,20.025295,11.345403,NaN,NaN,15.695881,1.528006,76.684159,...,14.468751,0.858356,19.781894,14.946355,NaN,NaN,NaN,NaN,14.509731,NaN
6,Andorra,AND,16.162501,15.823467,9.128896,NaN,NaN,12.462957,1.807402,114.366375,...,21.304453,0.745090,29.228889,21.992066,NaN,NaN,NaN,NaN,21.527196,NaN
7,Arab World,ARB,12.169619,11.621639,6.912389,NaN,NaN,9.230033,2.086798,152.048590,...,28.140154,0.631824,38.675883,29.037776,21.399872,16.440799,14.269849,12.679124,28.544661,NaN
8,United Arab Emirates,ARE,8.176737,7.419811,4.695882,NaN,NaN,5.997109,2.366195,9.088774,...,4.667540,0.518558,34.789326,15.555538,13.396592,11.310515,5.954781,6.998091,10.733089,NaN
9,Argentina,ARG,4.183855,3.217984,2.479375,1.195827,2.296089,2.764185,2.645591,1.456841,...,0.267800,0.405291,0.669274,0.453943,0.782151,1.024314,0.870999,0.666287,0.566229,NaN

In [12]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_stocks_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Stock Traded $B")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Stock Traded $B
0                  Afghanistan          AFG  2000            32.13
1  Africa Eastern and Southern          AFE  2000            36.13
2   Africa Western and Central          AFW  2000            28.14
3                      Albania          ALB  2000            20.16
4                      Algeria          DZA  2000            22.22

In [13]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Stock_Traded.csv', index=False)