In [35]:
#Import Dependancies
import pandas as pd
import os

In [36]:
#Import File
tech_grant = 'Technical_Cooperation_Grant.csv'
tech_grant_df = pd.read_csv(tech_grant,  sep="\t")
tech_grant_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Technical cooperation grants (BoP...
3  Africa Eastern and Southern,"AFE","Technical c...
4  Afghanistan,"AFG","Technical cooperation grant...
5  Africa Western and Central,"AFW","Technical co...
6  Angola,"AGO","Technical cooperation grants (Bo...
7  Albania,"ALB","Technical cooperation grants (B...
8  Andorra,"AND","Technical cooperation grants (B...
9  Arab World,"ARB","Technical cooperation grants...

In [37]:
list(tech_grant_df)

['Data Source,"World Development Indicators",']

In [38]:
# Get the contents of row 2
row_2_data = tech_grant_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [39]:
# Split columns
split_data = tech_grant_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_tech_grant_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_tech_grant_df = pd.concat([split_tech_grant_df, split_data.iloc[:, 4:]], axis=1)
split_tech_grant_df = split_tech_grant_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_tech_grant_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Africa Eastern and Southern,"""AFE""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
3,Afghanistan,"""AFG""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""1510000""","""1620000""","""1870000""","""1990000""","""2150000""",...,"""655640000""","""467490000""","""490400000""","""311920000""","""300130000""","""297060000""","""327440000""","""244120000""","""""",
4,Africa Western and Central,"""AFW""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
5,Angola,"""AGO""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""-50000""","""80000""","""""","""20000""","""""",...,"""34670000""","""24460000""","""30380000""","""26710000""","""47060000""","""46980000""","""43090000""","""47230000""","""""",
6,Albania,"""ALB""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""75080000""","""182200000""","""75600000""","""86490000""","""93510000""","""102990000""","""149710000""","""104100000""","""""",
7,Andorra,"""AND""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,Arab World,"""ARB""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
9,United Arab Emirates,"""ARE""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""250000""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",

In [40]:
# Assign row 0 as column names
split_tech_grant_df.columns = split_tech_grant_df.iloc[0]

# Remove any quotation marks from column names
split_tech_grant_df.columns = split_tech_grant_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_tech_grant_df = split_tech_grant_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_tech_grant_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
1,Africa Eastern and Southern,"""AFE""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Afghanistan,"""AFG""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""1510000""","""1620000""","""1870000""","""1990000""","""2150000""",...,"""655640000""","""467490000""","""490400000""","""311920000""","""300130000""","""297060000""","""327440000""","""244120000""","""""",
3,Africa Western and Central,"""AFW""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
4,Angola,"""AGO""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""-50000""","""80000""","""""","""20000""","""""",...,"""34670000""","""24460000""","""30380000""","""26710000""","""47060000""","""46980000""","""43090000""","""47230000""","""""",
5,Albania,"""ALB""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""75080000""","""182200000""","""75600000""","""86490000""","""93510000""","""102990000""","""149710000""","""104100000""","""""",
6,Andorra,"""AND""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Arab World,"""ARB""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,United Arab Emirates,"""ARE""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""""","""""","""""","""""","""250000""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
9,Argentina,"""ARG""","""Technical cooperation grants (BoP","current US$)""","""BX.GRT.TECH.CD.WD""","""840000""","""840000""","""1470000""","""1140000""","""1600000""",...,"""52320000""","""35720000""","""34820000""","""45930000""","""45690000""","""42800000""","""40600000""","""30610000""","""""",

In [41]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_tech_grant_df[selected_columns]

cleaned_tech_grant_df = selected_columns

cleaned_tech_grant_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""957300000""","""893130000""","""849840000""","""896900000""","""823980000""","""655640000""","""467490000""","""490400000""","""311920000""","""300130000""","""297060000"""
3,Africa Western and Central,"""AFW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
4,Angola,"""AGO""","""64060000""","""43730000""","""33580000""","""34220000""","""25680000""","""34670000""","""24460000""","""30380000""","""26710000""","""47060000""","""46980000"""
5,Albania,"""ALB""","""95930000""","""102880000""","""98220000""","""95710000""","""57100000""","""75080000""","""182200000""","""75600000""","""86490000""","""93510000""","""102990000"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""71880000""","""70420000""","""52020000""","""56800000""","""53140000""","""52320000""","""35720000""","""34820000""","""45930000""","""45690000""","""42800000"""

In [42]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_tech_grant_df = cleaned_tech_grant_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_tech_grant_df.columns[2:13]:
    cleaned_tech_grant_df[column] = pd.to_numeric(cleaned_tech_grant_df[column], errors='coerce')
    
# List of columns from "2010" to "2020"
numerical_columns = ["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]

# Divide the columns by 1 billion
cleaned_tech_grant_df[numerical_columns] = cleaned_tech_grant_df[numerical_columns].div(1000000)    

# Display the updated DataFrame
cleaned_tech_grant_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,957.30,893.13,849.84,896.90,823.98,655.64,467.49,490.40,311.92,300.13,297.06
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,64.06,43.73,33.58,34.22,25.68,34.67,24.46,30.38,26.71,47.06,46.98

In [43]:
# Replace the NaN values with 0
cleaned_tech_grant_df.fillna(0, inplace=True)

cleaned_tech_grant_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Africa Eastern and Southern,AFE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Afghanistan,AFG,957.30,893.13,849.84,896.90,823.98,655.64,467.49,490.40,311.92,300.13,297.06
3,Africa Western and Central,AFW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Angola,AGO,64.06,43.73,33.58,34.22,25.68,34.67,24.46,30.38,26.71,47.06,46.98
5,Albania,ALB,95.93,102.88,98.22,95.71,57.10,75.08,182.20,75.60,86.49,93.51,102.99
6,Andorra,AND,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,Arab World,ARB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,United Arab Emirates,ARE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Argentina,ARG,71.88,70.42,52.02,56.80,53.14,52.32,35.72,34.82,45.93,45.69,42.80

In [44]:
# Calculate the average for each country
average_by_country = cleaned_tech_grant_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_tech_grant_df.columns[2:]:
    cleaned_tech_grant_df[col] = cleaned_tech_grant_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_tech_grant_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,Africa Eastern and Southern,AFE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,Afghanistan,AFG,957.30,893.13,849.84,896.90,823.98,655.64,467.49,490.40,311.92,300.13,297.06
3,Africa Western and Central,AFW,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Angola,AGO,64.06,43.73,33.58,34.22,25.68,34.67,24.46,30.38,26.71,47.06,46.98
5,Albania,ALB,95.93,102.88,98.22,95.71,57.10,75.08,182.20,75.60,86.49,93.51,102.99
6,Andorra,AND,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,Arab World,ARB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,United Arab Emirates,ARE,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,Argentina,ARG,71.88,70.42,52.02,56.80,53.14,52.32,35.72,34.82,45.93,45.69,42.80

In [47]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_tech_grant_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Tech Cooperation Grant($M)")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Tech Cooperation Grant($M)
0                  Afghanistan          AFG  2010                      957.30
1  Africa Eastern and Southern          AFE  2010                        0.00
2   Africa Western and Central          AFW  2010                        0.00
3                      Albania          ALB  2010                       95.93
4                      Algeria          DZA  2010                      191.31

In [48]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Technical_Cooperation_Grant.csv', index=False)