In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
unemployment = 'Unemployment.csv'
unemployment_df = pd.read_csv(unemployment,  sep="\t")
unemployment_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Unemployment, total (% of total l...
3  Africa Eastern and Southern,"AFE","Unemploymen...
4  Afghanistan,"AFG","Unemployment, total (% of t...
5  Africa Western and Central,"AFW","Unemployment...
6  Angola,"AGO","Unemployment, total (% of total ...
7  Albania,"ALB","Unemployment, total (% of total...
8  Andorra,"AND","Unemployment, total (% of total...
9  Arab World,"ARB","Unemployment, total (% of to...

In [3]:
list(unemployment_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = unemployment_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = unemployment_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_unemployment_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_unemployment_df = pd.concat([split_unemployment_df, split_data.iloc[:, 4:]], axis=1)
split_unemployment_df = split_unemployment_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_unemployment_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
2,Africa Eastern and Southern,"""AFE""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""6.55564570993812""","""6.70714201994761""","""6.85558937799669""","""6.94036492503842""","""6.91304612233971""","""7.12166311855541""","""7.63130388835244""","""7.92021872219359""","""7.91683536433004""",
3,Afghanistan,"""AFG""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""7.91""","""8.989""","""10.086""","""11.18""","""11.11""","""11.085""","""11.71""","""""","""""",
4,Africa Western and Central,"""AFW""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""3.98587799363457""","""4.2411358820643""","""4.11295792761317""","""4.1404839741261""","""4.20159867370182""","""4.26141420020856""","""4.91414331502173""","""4.8736351630578""","""4.7421746002072""",
5,Angola,"""AGO""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""9.58""","""9.584""","""9.586""","""9.535""","""9.522""","""9.481""","""10.35""","""10.384""","""10.209""",
6,Albania,"""ALB""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""18.05""","""17.19""","""15.42""","""13.62""","""12.3""","""11.47""","""13.067""","""12.683""","""11.808""",
7,Andorra,"""AND""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
8,Arab World,"""ARB""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""10.8562136631188""","""10.9682192689566""","""10.7633587834491""","""10.9199204443131""","""10.5833398623519""","""10.1651583217377""","""11.3483705415491""","""11.0236936255714""","""10.6640194008587""",
9,United Arab Emirates,"""ARE""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""1.902""","""1.763""","""1.64""","""2.46""","""2.24""","""2.33""","""4.29""","""3.11""","""2.754""",

In [7]:
# Assign row 0 as column names
split_unemployment_df.columns = split_unemployment_df.iloc[0]

# Remove any quotation marks from column names
split_unemployment_df.columns = split_unemployment_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_unemployment_df = split_unemployment_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_unemployment_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
1,Africa Eastern and Southern,"""AFE""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""6.55564570993812""","""6.70714201994761""","""6.85558937799669""","""6.94036492503842""","""6.91304612233971""","""7.12166311855541""","""7.63130388835244""","""7.92021872219359""","""7.91683536433004""",
2,Afghanistan,"""AFG""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""7.91""","""8.989""","""10.086""","""11.18""","""11.11""","""11.085""","""11.71""","""""","""""",
3,Africa Western and Central,"""AFW""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""3.98587799363457""","""4.2411358820643""","""4.11295792761317""","""4.1404839741261""","""4.20159867370182""","""4.26141420020856""","""4.91414331502173""","""4.8736351630578""","""4.7421746002072""",
4,Angola,"""AGO""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""9.58""","""9.584""","""9.586""","""9.535""","""9.522""","""9.481""","""10.35""","""10.384""","""10.209""",
5,Albania,"""ALB""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""18.05""","""17.19""","""15.42""","""13.62""","""12.3""","""11.47""","""13.067""","""12.683""","""11.808""",
6,Andorra,"""AND""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",
7,Arab World,"""ARB""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""10.8562136631188""","""10.9682192689566""","""10.7633587834491""","""10.9199204443131""","""10.5833398623519""","""10.1651583217377""","""11.3483705415491""","""11.0236936255714""","""10.6640194008587""",
8,United Arab Emirates,"""ARE""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""1.902""","""1.763""","""1.64""","""2.46""","""2.24""","""2.33""","""4.29""","""3.11""","""2.754""",
9,Argentina,"""ARG""","""Unemployment",total (% of total labor force) (modeled ILO e...,"""SL.UEM.TOTL.ZS""","""""","""""","""""","""""","""""",...,"""7.27""","""7.524""","""8.109""","""8.35""","""9.22""","""9.84""","""11.46""","""8.74""","""6.491""",

In [8]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_unemployment_df[selected_columns]

cleaned_unemployment_df = selected_columns

cleaned_unemployment_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""6.29558691357936""","""6.93364466215657""","""6.71535792804545""","""6.59935562174995""","""6.51278434882641""","""6.55564570993812""","""6.70714201994761""","""6.85558937799669""","""6.94036492503842""","""6.91304612233971""","""7.12166311855541"""
2,Afghanistan,"""AFG""","""8.082""","""8.068""","""7.947""","""8.019""","""7.949""","""7.91""","""8.989""","""10.086""","""11.18""","""11.11""","""11.085"""
3,Africa Western and Central,"""AFW""","""4.21507264893674""","""4.23577740396639""","""4.18882761728951""","""4.16755618624793""","""3.8044474663902""","""3.98587799363457""","""4.2411358820643""","""4.11295792761317""","""4.1404839741261""","""4.20159867370182""","""4.26141420020856"""
4,Angola,"""AGO""","""3.78""","""9.43""","""7.36""","""8.064""","""8.834""","""9.58""","""9.584""","""9.586""","""9.535""","""9.522""","""9.481"""
5,Albania,"""ALB""","""13.67""","""14.09""","""13.48""","""13.38""","""15.87""","""18.05""","""17.19""","""15.42""","""13.62""","""12.3""","""11.47"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""9.31289666228681""","""9.38650688490656""","""10.4749676149814""","""10.6735451306246""","""10.7343392713283""","""10.8562136631188""","""10.9682192689566""","""10.7633587834491""","""10.9199204443131""","""10.5833398623519""","""10.1651583217377"""
8,United Arab Emirates,"""ARE""","""2.668""","""2.464""","""2.284""","""2.171""","""2.032""","""1.902""","""1.763""","""1.64""","""2.46""","""2.24""","""2.33"""
9,Argentina,"""ARG""","""8.65""","""7.71""","""7.18""","""7.22""","""7.1""","""7.27""","""7.524""","""8.109""","""8.35""","""9.22""","""9.84"""

In [9]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_unemployment_df = cleaned_unemployment_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_unemployment_df.columns[2:13]:
    cleaned_unemployment_df[column] = pd.to_numeric(cleaned_unemployment_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_unemployment_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,6.295587,6.933645,6.715358,6.599356,6.512784,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663
2,Afghanistan,AFG,8.082000,8.068000,7.947000,8.019000,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000
3,Africa Western and Central,AFW,4.215073,4.235777,4.188828,4.167556,3.804447,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414
4,Angola,AGO,3.780000,9.430000,7.360000,8.064000,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000

In [10]:
# Replace the NaN values with 0
cleaned_unemployment_df.fillna(0, inplace=True)

cleaned_unemployment_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Africa Eastern and Southern,AFE,6.295587,6.933645,6.715358,6.599356,6.512784,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663
2,Afghanistan,AFG,8.082000,8.068000,7.947000,8.019000,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000
3,Africa Western and Central,AFW,4.215073,4.235777,4.188828,4.167556,3.804447,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414
4,Angola,AGO,3.780000,9.430000,7.360000,8.064000,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000
5,Albania,ALB,13.670000,14.090000,13.480000,13.380000,15.870000,18.050000,17.190000,15.420000,13.620000,12.300000,11.470000
6,Andorra,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Arab World,ARB,9.312897,9.386507,10.474968,10.673545,10.734339,10.856214,10.968219,10.763359,10.919920,10.583340,10.165158
8,United Arab Emirates,ARE,2.668000,2.464000,2.284000,2.171000,2.032000,1.902000,1.763000,1.640000,2.460000,2.240000,2.330000
9,Argentina,ARG,8.650000,7.710000,7.180000,7.220000,7.100000,7.270000,7.524000,8.109000,8.350000,9.220000,9.840000

In [11]:
# Calculate the average for each country
average_by_country = cleaned_unemployment_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_unemployment_df.columns[2:]:
    cleaned_unemployment_df[col] = cleaned_unemployment_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_unemployment_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Africa Eastern and Southern,AFE,6.295587,6.933645,6.715358,6.599356,6.512784,6.555646,6.707142,6.855589,6.940365,6.913046,7.121663
2,Afghanistan,AFG,8.082000,8.068000,7.947000,8.019000,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000
3,Africa Western and Central,AFW,4.215073,4.235777,4.188828,4.167556,3.804447,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414
4,Angola,AGO,3.780000,9.430000,7.360000,8.064000,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000
5,Albania,ALB,13.670000,14.090000,13.480000,13.380000,15.870000,18.050000,17.190000,15.420000,13.620000,12.300000,11.470000
6,Andorra,AND,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Arab World,ARB,9.312897,9.386507,10.474968,10.673545,10.734339,10.856214,10.968219,10.763359,10.919920,10.583340,10.165158
8,United Arab Emirates,ARE,2.668000,2.464000,2.284000,2.171000,2.032000,1.902000,1.763000,1.640000,2.460000,2.240000,2.330000
9,Argentina,ARG,8.650000,7.710000,7.180000,7.220000,7.100000,7.270000,7.524000,8.109000,8.350000,9.220000,9.840000

In [12]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_unemployment_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Unemployment Rate")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Unemployment Rate
0                  Afghanistan          AFG  2010               8.08
1  Africa Eastern and Southern          AFE  2010               6.30
2   Africa Western and Central          AFW  2010               4.22
3                      Albania          ALB  2010              13.67
4                      Algeria          DZA  2010              10.16

In [13]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Unemployment.csv', index=False)