In [1]:
import pandas as pd
import os

In [47]:
internet_usage = "Individuals_Internet_usage.csv"
internet_usage_df = pd.read_csv(internet_usage, sep="\t")
internet_usage_df

           Data Source,"World Development Indicators",
0                      Last Updated Date,"2023-06-29",
1    Country Name,"Country Code","Indicator Name","...
2    Aruba,"ABW","Individuals using the Internet (%...
3    Africa Eastern and Southern,"AFE","Individuals...
4    Afghanistan,"AFG","Individuals using the Inter...
..                                                 ...
263  Kosovo,"XKX","Individuals using the Internet (...
264  Yemen, Rep.,"YEM","Individuals using the Inter...
265  South Africa,"ZAF","Individuals using the Inte...
266  Zambia,"ZMB","Individuals using the Internet (...
267  Zimbabwe,"ZWE","Individuals using the Internet...

[268 rows x 1 columns]

In [48]:
list(internet_usage_df)

['Data Source,"World Development Indicators",']

In [49]:
# Get the contents of row 2
row_2_data = internet_usage_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [50]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [51]:
split_data = internet_usage_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_internet_usage_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_internet_usage_df = pd.concat([cleaned_internet_usage_df, split_data.iloc[:, 4:]], axis=1)
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_internet_usage_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""88.66122693""","""93.54245387""","""97.17""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""14.4858491534531""","""15.753329822739""","""17.3109868719447""","""20.0630242595526""","""22.5895992519959""","""24.9884008681592""","""27.660653781351""","""""",,None
3,Afghanistan,"""AFG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""8.26""","""11""","""13.5""","""16.8""","""17.6""","""18.4""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""18.1094850427716""","""22.8697496052977""","""27.0812193846418""","""32.0893370172076""","""35.2764479325331""","""41.7498190724143""","""46.9904973070537""","""""",,None

In [52]:
# Assign row 0 as column names
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.iloc[0]
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_internet_usage_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
262,Yemen,Rep.,"""YEM""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""",...,"""22.55""","""24.08540947""","""24.57920836""","""26.71835477""","""""","""""","""""","""""","""""",
213,Somalia,"""SOM""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""1.76""","""1.88""","""2.004048698""","""""","""""","""""","""""","""""",,None
36,Central Europe and the Baltics,"""CEB""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""67.3429671349962""","""71.3428544464196""","""73.4106382259526""","""75.9768506229148""","""78.729072126681""","""81.7802416089691""","""84.7131936137643""","""""",,None
183,Other small states,"""OSS""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""43.3716923471294""","""47.3771914478235""","""51.2720753504632""","""58.1751259103215""","""60.2242378204339""","""62.9561664522791""","""65.6706409478433""","""""",,None
257,Vietnam,"""VNM""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""45""","""53""","""58.14""","""69.84792868""","""68.66158021""","""70.30000012""","""74.20999985""","""""",,None

In [53]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_internet_usage_df_final = cleaned_internet_usage_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_internet_usage_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,88.66122693,93.54245387,97.17,,,,,,,None
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,14.4858491534531,15.753329822739,17.3109868719447,20.0630242595526,22.5895992519959,24.9884008681592,27.660653781351,,,None
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,8.26,11,13.5,16.8,17.6,18.4,,,,None
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,18.1094850427716,22.8697496052977,27.0812193846418,32.0893370172076,35.2764479325331,41.7498190724143,46.9904973070537,,,None
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,,,,,,,...,22,23.2,26,29,32.12939197,32.55014678,32.60230173,,,None

In [54]:
# Convert columns 5 to 68 to float data type
for column in cleaned_internet_usage_df_final.columns[5:69]:
    cleaned_internet_usage_df_final[column] = pd.to_numeric(cleaned_internet_usage_df_final[column], errors='coerce')

# Fill non-finite values (NaN) with a default value (e.g., 0)
cleaned_internet_usage_df_final.fillna(0, inplace=True)

# Convert the specified columns from float to integer data type
cleaned_internet_usage_df_final.iloc[:, 5:69] = cleaned_internet_usage_df_final.iloc[:, 5:69].astype(int)

# Display the DataFrame with the specified columns converted to integer
cleaned_internet_usage_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,0,0,0,0,0,...,88,93,97,0,0,0,0,0,0,0
1,Africa Eastern and Southern,AFE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,0,0,0,0,0,...,14,15,17,20,22,24,27,0,0,0
2,Afghanistan,AFG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,0,0,0,0,0,...,8,11,13,16,17,18,0,0,0,0
3,Africa Western and Central,AFW,Individuals using the Internet (% of population),IT.NET.USER.ZS,,0,0,0,0,0,...,18,22,27,32,35,41,46,0,0,0
4,Angola,AGO,Individuals using the Internet (% of population),IT.NET.USER.ZS,,0,0,0,0,0,...,22,23,26,29,32,32,32,0,0,0

In [55]:
cleaned_internet_usage_df_final.dtypes

0
Country Name      object
Country Code      object
Indicator Name    object
Indicator Code    object
1960              object
                   ...
2020               int64
2021               int64
2022               int64
                   int64
None               int64
Length: 69, dtype: object

In [56]:
import numpy as np

# Replace 0 with NaN in the DataFrame
cleaned_internet_usage_df_final.replace(0, np.nan, inplace=True)

# Calculate the latest value for each row in columns 5 to 68, ignoring NaN values and considering the last non-NaN value
if cleaned_internet_usage_df_final.shape[1] >= 69:
    latest = cleaned_internet_usage_df_final.iloc[:, 5:69].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)
else:
    latest = cleaned_internet_usage_df_final.iloc[:, 5:].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)

# Add the latest values as a new column named "individuals_%_use_int" to the DataFrame
cleaned_internet_usage_df_final['individuals_%_use_int'] = latest

# Display the DataFrame to verify the changes
cleaned_internet_usage_df_final.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,individuals_%_use_int
191,Pre-demographic dividend,PRE,Individuals using the Internet (% of population),IT.NET.USER.ZS,,NaN,NaN,NaN,NaN,NaN,...,15.0,18.0,22.0,26.0,30.0,35.0,NaN,NaN,NaN,35.0
64,Europe & Central Asia (excluding high income),ECA,Individuals using the Internet (% of population),IT.NET.USER.ZS,,NaN,NaN,NaN,NaN,NaN,...,62.0,66.0,72.0,76.0,79.0,83.0,NaN,NaN,NaN,83.0
12,Antigua and Barbuda,ATG,Individuals using the Internet (% of population),IT.NET.USER.ZS,,NaN,NaN,NaN,NaN,NaN,...,73.0,NaN,NaN,95.0,95.0,95.0,NaN,NaN,NaN,95.0
62,Early-demographic dividend,EAR,Individuals using the Internet (% of population),IT.NET.USER.ZS,,NaN,NaN,NaN,NaN,NaN,...,27.0,29.0,32.0,39.0,48.0,51.0,NaN,NaN,NaN,51.0
49,Caribbean small states,CSS,Individuals using the Internet (% of population),IT.NET.USER.ZS,,NaN,NaN,NaN,NaN,NaN,...,53.0,58.0,NaN,73.0,77.0,80.0,NaN,NaN,NaN,80.0

In [57]:
intusage_machine_df=cleaned_internet_usage_df_final[['Country Name','individuals_%_use_int']]
intusage_machine_df.sample(5)

0                                         Country Name  individuals_%_use_int
128  Latin America & Caribbean (excluding high income)                   75.0
145                                             Latvia                   91.0
4                                               Angola                   32.0
124                                           Kiribati                   53.0
252                                         Uzbekistan                   76.0

In [59]:
# Create the "Output_Jibek" directory if it doesn't exist
output_directory = "../Output_Jibek"
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
# Save the cleaned DataFrame to a CSV file in the specified directory
intusage_machine_df.to_csv(os.path.join(output_directory, 'intusage_machine_df'), index=False)