In [1]:
import pandas as pd
import os

In [13]:
in_subs = "Internet_Subscription_Per100.csv"
in_subs_df = pd.read_csv(in_subs, sep="\t")
in_subs_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Fixed broadband subscriptions (pe...
3  Africa Eastern and Southern,"AFE","Fixed broad...
4  Afghanistan,"AFG","Fixed broadband subscriptio...
5  Africa Western and Central,"AFW","Fixed broadb...
6  Angola,"AGO","Fixed broadband subscriptions (p...
7  Albania,"ALB","Fixed broadband subscriptions (...
8  Andorra,"AND","Fixed broadband subscriptions (...
9  Arab World,"ARB","Fixed broadband subscription...

In [14]:
list(in_subs_df)

['Data Source,"World Development Indicators",']

In [15]:
# Get the contents of row 2
row_2_data = in_subs_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [16]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [17]:
split_data = in_subs_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_in_subs_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_in_subs_df = pd.concat([cleaned_in_subs_df, split_data.iloc[:, 4:]], axis=1)
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_in_subs_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""18.22419598""","""""","""""","""""","""17.85009677""","""17.82614814""","""17.83434708""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.514450660064243""","""0.507694668659498""","""0.539087555281365""","""0.691819236505032""","""0.620279018291044""","""0.730465333404574""","""0.834709948050618""","""""",,None
3,Afghanistan,"""AFG""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.020937089""","""0.025409826""","""0.025760717""","""0.04360971""","""0.052113481""","""0.06817675""","""0.066260241""","""""",,None
4,Africa Western and Central,"""AFW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.142783493856492""","""0.238595580832002""","""0.234462471307125""","""0.269759705316744""","""0.269670766137041""","""0.388434069390146""","""0.358830315556206""","""""",,None

In [18]:
# Assign row 0 as column names
cleaned_in_subs_df.columns = cleaned_in_subs_df.iloc[0]
cleaned_in_subs_df.columns = cleaned_in_subs_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_in_subs_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
83,Ghana,"""GHA""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.253306621""","""0.293006402""","""0.187974017""","""0.198466886""","""0.185640066""","""0.243536423""","""0.348865141""","""""",,None
75,Finland,"""FIN""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""31.57056871""","""31.15435436""","""31.04496255""","""31.49328769""","""32.54529174""","""33.38476685""","""33.67056889""","""""",,None
148,Morocco,"""MAR""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""3.31048391""","""3.574041694""","""3.87526241""","""4.309292493""","""4.801908567""","""5.696023035""","""6.081934577""","""""",,None
41,Cote d'Ivoire,"""CIV""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.464924372""","""0.563236677""","""0.574794382""","""0.690037196""","""0.828846266""","""0.974832341""","""1.219295305""","""""",,None
196,West Bank and Gaza,"""PSE""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""6.060718463""","""6.917772552""","""7.580678152""","""7.486892294""","""7.324839102""","""7.388363305""","""7.955428828""","""""",,None

In [19]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_in_subs_df_final = cleaned_in_subs_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_in_subs_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,18.22419598,,,,17.85009677,17.82614814,17.83434708,,,None
1,Africa Eastern and Southern,AFE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.514450660064243,0.507694668659498,0.539087555281365,0.691819236505032,0.620279018291044,0.730465333404574,0.834709948050618,,,None
2,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.020937089,0.025409826,0.025760717,0.04360971,0.052113481,0.06817675,0.066260241,,,None
3,Africa Western and Central,AFW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.142783493856492,0.238595580832002,0.234462471307125,0.269759705316744,0.269670766137041,0.388434069390146,0.358830315556206,,,None
4,Angola,AGO,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.545977401,0.290601057,0.320832181,0.350331381,0.368021006,0.686830388,0.790896092,,,None

In [20]:
# Convert columns 5 to 68 to float data type
for column in cleaned_in_subs_df_final.columns[5:69]:
    cleaned_in_subs_df_final[column] = pd.to_numeric(cleaned_in_subs_df_final[column], errors='coerce')

# Display the DataFrame with the specified columns converted to float
cleaned_in_subs_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,18.224196,NaN,NaN,NaN,17.850097,17.826148,17.834347,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,0.514451,0.507695,0.539088,0.691819,0.620279,0.730465,0.834710,NaN,NaN,NaN
2,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,0.020937,0.025410,0.025761,0.043610,0.052113,0.068177,0.066260,NaN,NaN,NaN
3,Africa Western and Central,AFW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,0.142783,0.238596,0.234462,0.269760,0.269671,0.388434,0.358830,NaN,NaN,NaN
4,Angola,AGO,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,0.545977,0.290601,0.320832,0.350331,0.368021,0.686830,0.790896,NaN,NaN,NaN

In [21]:
cleaned_in_subs_df_final.dtypes

0
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2020              float64
2021              float64
2022              float64
                  float64
None              float64
Length: 69, dtype: object

In [22]:
import numpy as np

# Replace 0 with NaN in the DataFrame
cleaned_in_subs_df_final.replace(0, np.nan, inplace=True)

# Calculate the latest value for each row in columns 5 to 68, ignoring NaN values and considering the last non-NaN value
if cleaned_in_subs_df_final.shape[1] >= 69:
    latest = cleaned_in_subs_df_final.iloc[:, 5:69].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)
else:
    latest = cleaned_in_subs_df_final.iloc[:, 5:].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)

# Add the latest values as a new column named "individuals_%_use_int" to the DataFrame
cleaned_in_subs_df_final['individuals_%_subs_int'] = latest

# Display the DataFrame to verify the changes
cleaned_in_subs_df_final.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,individuals_%_subs_int
258,Vanuatu,VUT,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,1.548630,NaN,NaN,2.591293,0.893530,0.989233,NaN,NaN,NaN,0.989233
106,Indonesia,IDN,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,1.996330,2.350076,3.322807,3.814917,4.311891,4.536720,NaN,NaN,NaN,4.536720
155,Marshall Islands,MHL,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,2.069151,2.119228,NaN,2.235736,2.303404,NaN,NaN,NaN,NaN,2.303404
70,Spain,ESP,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,30.367227,31.487546,32.434904,33.134174,34.179056,35.188816,NaN,NaN,NaN,35.188816
161,Middle East & North Africa (excluding high inc...,MNA,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,NaN,NaN,NaN,NaN,NaN,...,5.561347,6.827352,7.522176,7.578170,8.759172,9.488982,NaN,NaN,NaN,9.488982

In [23]:
intsubs_machine_df=cleaned_in_subs_df_final[['Country Name','individuals_%_subs_int']]
intsubs_machine_df.sample(5)

0                 Country Name  individuals_%_subs_int
233                   Thailand               17.347414
198  Post-demographic dividend               37.694964
249        Upper middle income               26.595935
30                    Barbados               36.473684
2                  Afghanistan                0.066260

In [24]:
# Create the "Output_Jibek" directory if it doesn't exist
output_directory = "../Output_Jibek"
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
# Save the cleaned DataFrame to a CSV file in the specified directory
intsubs_machine_df.to_csv(os.path.join(output_directory, 'intsubs_machine_df'), index=False)