In [1]:
import pandas as pd
import os

In [4]:
mhtech_export= "Med_and_High_Tech_Export.csv"
mhtech_export_df = pd.read_csv(mhtech_export, sep="\t")
mhtech_export_df.head(5)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Medium and high-tech exports (% m...
3  Africa Eastern and Southern,"AFE","Medium and ...
4  Afghanistan,"AFG","Medium and high-tech export...

In [5]:
list(mhtech_export_df)

['Data Source,"World Development Indicators",']

In [6]:
# Get the contents of row 2
row_2_data = mhtech_export_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [7]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [8]:
split_data = mhtech_export_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_mhtech_export_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_mhtech_export_df = pd.concat([cleaned_mhtech_export_df, split_data.iloc[:, 4:]], axis=1)
cleaned_mhtech_export_df = cleaned_mhtech_export_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_mhtech_export_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
3,Afghanistan,"""AFG""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""0.049830316297558""","""0""","""2.1227775439483""","""1.38004934462267""","""0.340942887488212""","""0.340942887488212""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [9]:
# Assign row 0 as column names
cleaned_mhtech_export_df.columns = cleaned_mhtech_export_df.iloc[0]
cleaned_mhtech_export_df.columns = cleaned_mhtech_export_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_mhtech_export_df = cleaned_mhtech_export_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_mhtech_export_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
168,Malawi,"""MWI""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""35.6160683512075""","""28.6294677074979""","""41.5723787499702""","""22.2945988031477""","""25.0272724455207""","""18.3187067495982""","""""","""""",,None
242,Trinidad and Tobago,"""TTO""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""34.5123941527839""","""34.5123941527839""","""34.5123941527839""","""34.5123941527839""","""34.5123941527839""","""34.5123941527839""","""""","""""",,None
199,French Polynesia,"""PYF""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
189,Papua New Guinea,"""PNG""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""8.06340968840426""","""8.06340968840426""","""8.06340968840426""","""8.06340968840426""","""8.06340968840426""","""8.06340968840426""","""""","""""",,None
237,Timor-Leste,"""TLS""","""Medium and high-tech exports (% manufactured ...","""TX.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [10]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_mhtech_export_df = cleaned_mhtech_export_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_mhtech_export_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
1,Africa Eastern and Southern,AFE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
2,Afghanistan,AFG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,0.049830316297558,0,2.1227775439483,1.38004934462267,0.340942887488212,0.340942887488212,,,,None
3,Africa Western and Central,AFW,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,,,,,,,,,,None
4,Angola,AGO,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,,,,,,...,49.2634423582802,40.0510689198201,24.7264779257463,57.6611417740173,23.6998947292577,23.6998947292577,,,,None

In [13]:
# Convert columns 5 to 68 to float data type
for column in cleaned_mhtech_export_df.columns[5:69]:
    cleaned_mhtech_export_df[column] = pd.to_numeric(cleaned_mhtech_export_df[column], errors='coerce')

# Display the DataFrame with the specified columns converted to float
cleaned_mhtech_export_df.sample(20)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
79,Micronesia,Fed. Sts.,FSM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Mali,MLI,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,European Union,EUU,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Cambodia,KHM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,8.920290,9.558097,9.778438,9.166684,9.021018,12.457252,NaN,NaN,NaN,NaN
202,Russian Federation,RUS,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,27.957411,29.921959,28.448409,26.082903,27.456219,28.424931,NaN,NaN,NaN,NaN
229,Chad,TCD,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,South Asia (IDA & IBRD),TSA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Belarus,BLR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,38.755228,41.917664,39.821592,39.002749,41.474387,44.324700,NaN,NaN,NaN,NaN
4,Angola,AGO,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,49.263442,40.051069,24.726478,57.661142,23.699895,23.699895,NaN,NaN,NaN,NaN
67,Egypt,Arab Rep.,EGY,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,NaN,NaN,NaN,NaN,NaN,...,34.361877,32.615000,34.686267,33.740585,31.892770,32.019325,34.172177,NaN,NaN,NaN
62,Early-demographic dividend,EAR,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Latin America & Caribbean,LCN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Nauru,NRU,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Sub-Saharan Africa (IDA & IBRD countries),TSS,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Caribbean small states,CSS,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Panama,PAN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,4.704939,4.704939,4.704939,6.362839,11.067865,7.691593,NaN,NaN,NaN,NaN
104,IDA total,IDA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bolivia,BOL,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,3.525078,2.739441,1.942717,4.581241,5.770030,4.358545,NaN,NaN,NaN,NaN
110,Not classified,INX,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,29.827066,45.354158,28.271626,27.423785,27.173181,21.513299,NaN,NaN,NaN,NaN

In [12]:
cleaned_mhtech_export_df.dtypes

0
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2020              float64
2021              float64
2022              float64
                  float64
None              float64
Length: 69, dtype: object

In [15]:
# Calculate the average for each row in columns 5 to 68
average = cleaned_mhtech_export_df.iloc[:, 5:69].mean(axis=1)
# Add the average values as a new column named "Average" to the DataFrame
cleaned_mhtech_export_df['MHTexports_%manufac'] = average
cleaned_mhtech_export_df.sample(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,MHTexports_%manufac
134,Latin America & Caribbean,LCN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Ghana,GHA,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,15.849402,18.590973,15.203872,10.563310,10.563310,NaN,NaN,NaN,NaN,11.658647
6,Andorra,AND,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Turkmenistan,TKM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Gambia,The,GMB,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,NaN,NaN,NaN,NaN,NaN,...,0.123966,2.316087,8.165096,8.292513,20.816236,3.870479,NaN,NaN,NaN,20.011621
46,Comoros,COM,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Monaco,MCO,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Panama,PAN,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,4.704939,4.704939,6.362839,11.067865,7.691593,NaN,NaN,NaN,NaN,11.656303
8,United Arab Emirates,ARE,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,21.608692,20.405051,18.815518,10.552780,13.361845,NaN,NaN,NaN,NaN,19.313532
189,Papua New Guinea,PNG,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,,NaN,NaN,NaN,NaN,NaN,...,8.063410,8.063410,8.063410,8.063410,8.063410,NaN,NaN,NaN,NaN,6.897579