In [7]:
import pandas as pd
import os

In [8]:
in_subs = "Internet_Subscription_Per100.csv"
in_subs_df = pd.read_csv(in_subs, sep="\t")
in_subs_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Fixed broadband subscriptions (pe...
3  Africa Eastern and Southern,"AFE","Fixed broad...
4  Afghanistan,"AFG","Fixed broadband subscriptio...
5  Africa Western and Central,"AFW","Fixed broadb...
6  Angola,"AGO","Fixed broadband subscriptions (p...
7  Albania,"ALB","Fixed broadband subscriptions (...
8  Andorra,"AND","Fixed broadband subscriptions (...
9  Arab World,"ARB","Fixed broadband subscription...

In [9]:
list(in_subs_df)

['Data Source,"World Development Indicators",']

In [10]:
# Get the contents of row 2
row_2_data = in_subs_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [11]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(len(column_names))

68

In [12]:
split_data = in_subs_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_in_subs_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_in_subs_df = pd.concat([cleaned_in_subs_df, split_data.iloc[:, 4:]], axis=1)
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_in_subs_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""18.22419598""","""""","""""","""""","""17.85009677""","""17.82614814""","""17.83434708""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.514450660064243""","""0.507694668659498""","""0.539087555281365""","""0.691819236505032""","""0.620279018291044""","""0.730465333404574""","""0.834709948050618""","""""",,None
3,Afghanistan,"""AFG""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.020937089""","""0.025409826""","""0.025760717""","""0.04360971""","""0.052113481""","""0.06817675""","""0.066260241""","""""",,None
4,Africa Western and Central,"""AFW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.142783493856492""","""0.238595580832002""","""0.234462471307125""","""0.269759705316744""","""0.269670766137041""","""0.388434069390146""","""0.358830315556206""","""""",,None

In [13]:
# Assign row 0 as column names
cleaned_in_subs_df.columns = cleaned_in_subs_df.iloc[0]
cleaned_in_subs_df.columns = cleaned_in_subs_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_in_subs_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
188,Palau,"""PLW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""6.878723165""","""""","""""","""""","""""","""""","""""","""""",,None
91,Greenland,"""GRL""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""17.89100798""","""""","""21.78336433""","""24.12257961""","""26.17153278""","""27.94595366""","""29.83660189""","""""",,None
247,Uganda,"""UGA""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.215394064""","""0.237726564""","""""","""""","""0.07536832""","""0.077910828""","""0.083921111""","""""",,None
204,South Asia,"""SAS""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""1.3863700723797""","""1.60844966478482""","""1.60867287738755""","""1.67327474055338""","""1.72207838260423""","""2.0501600779808""","""2.38830041150033""","""""",,None
169,Malaysia,"""MYS""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""9.86132952""","""8.623878552""","""8.405730257""","""8.321174881""","""9.037002172""","""10.1168696""","""11.12204091""","""""",,None

In [14]:
# Define a function to remove double quotes from each cell
def remove_quotes(cell_value):
    if cell_value is not None:
        return cell_value.replace('"', '')
    else:
        return cell_value

# Use applymap() to remove double quotes from the entire DataFrame
cleaned_in_subs_df_final = cleaned_in_subs_df.applymap(remove_quotes)

# Display the first five rows of the cleaned DataFrame
cleaned_in_subs_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,18.22419598,,,,17.85009677,17.82614814,17.83434708,,,None
1,Africa Eastern and Southern,AFE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.514450660064243,0.507694668659498,0.539087555281365,0.691819236505032,0.620279018291044,0.730465333404574,0.834709948050618,,,None
2,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.020937089,0.025409826,0.025760717,0.04360971,0.052113481,0.06817675,0.066260241,,,None
3,Africa Western and Central,AFW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.142783493856492,0.238595580832002,0.234462471307125,0.269759705316744,0.269670766137041,0.388434069390146,0.358830315556206,,,None
4,Angola,AGO,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.545977401,0.290601057,0.320832181,0.350331381,0.368021006,0.686830388,0.790896092,,,None

In [15]:
# Convert columns to float data type
for column in cleaned_in_subs_df_final.columns[60:67]:
    cleaned_in_subs_df_final[column] = pd.to_numeric(cleaned_in_subs_df_final[column], errors='coerce')

# Display the DataFrame with the specified columns converted to float
cleaned_in_subs_df_final.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,ABW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,18.22419598,NaN,NaN,NaN,17.850097,17.826148,17.834347,NaN,,None
1,Africa Eastern and Southern,AFE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.514450660064243,0.507695,0.539088,0.691819,0.620279,0.730465,0.834710,NaN,,None
2,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.020937089,0.025410,0.025761,0.043610,0.052113,0.068177,0.066260,NaN,,None
3,Africa Western and Central,AFW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.142783493856492,0.238596,0.234462,0.269760,0.269671,0.388434,0.358830,NaN,,None
4,Angola,AGO,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.545977401,0.290601,0.320832,0.350331,0.368021,0.686830,0.790896,NaN,,None

In [16]:
cleaned_in_subs_df_final.dtypes

0
Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960               object
                   ...
2020              float64
2021              float64
2022              float64
                   object
None               object
Length: 69, dtype: object

In [18]:
import numpy as np

# Replace 0 with NaN in the DataFrame
cleaned_in_subs_df_final.replace(0, np.nan, inplace=True)

# Calculate the latest value for each row in columns 5 to 68, ignoring NaN values and considering the last non-NaN value
if cleaned_in_subs_df_final.shape[1] >= 67:
    latest = cleaned_in_subs_df_final.iloc[:, 60:67].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)
else:
    latest = cleaned_in_subs_df_final.iloc[:, 60:].apply(lambda row: row.dropna().iloc[-1] if not row.dropna().empty else np.nan, axis=1)

# Add the latest values as a new column named "individuals_%_use_int" to the DataFrame
cleaned_in_subs_df_final['individuals_%_subs_int'] = latest

# Display the DataFrame to verify the changes
cleaned_in_subs_df_final.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,,None,individuals_%_subs_int
152,Maldives,MDV,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,6.452146,7.733013,9.677228,10.538782,12.379529,14.673857,NaN,,None,14.673857
43,Congo,Dem. Rep.,COD,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,...,0.001271,0.001228,0.001186,0.005305,0.013236,0.033386,0.032327,,,0.032327
148,Morocco,MAR,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,3.574042,3.875262,4.309292,4.801909,5.696023,6.081935,NaN,,None,6.081935
50,Cuba,CUB,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,0.127208,0.295826,0.872492,1.614712,2.049909,2.641357,NaN,,None,2.641357
105,IDA blend,IDB,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,,,,,,,...,1.155454,1.243296,1.371794,1.212001,1.665653,2.067534,NaN,,None,2.067534

In [19]:
intsubs_machine_df=cleaned_in_subs_df_final[['Country Name','individuals_%_subs_int']]
intsubs_machine_df.sample(50)

0                                         Country Name  individuals_%_subs_int
59                                  Dominican Republic                9.758331
133                                          St. Lucia               21.196536
124                                           Kiribati                0.232786
90                                             Grenada               24.457106
255                             British Virgin Islands               22.813444
181                                       OECD members               34.398765
62                          Early-demographic dividend                5.462806
232                                               Togo                0.769570
27                                             Bermuda               35.833918
163                                           Mongolia               11.365406
75                                             Finland               33.670569
170                                      North America               37.834046
139                                Lower middle income                4.057261
260                                              Samoa                0.773436
44                                               Congo                0.259381
72                                            Ethiopia                0.421340
157                                    North Macedonia               23.713778
254                                          Venezuela                8.781535
166                                         Mauritania                0.416449
265                                           Zimbabwe                1.283851
223                                             Sweden               40.636310
236  Latin America & the Caribbean (IDA & IBRD coun...               16.934720
130                                            Lebanon                7.725702
164                           Northern Mariana Islands                     NaN
18                                               Benin                0.159107
198                          Post-demographic dividend               37.694964
5                                              Albania               19.595476
45                                            Colombia               16.371760
88                                   Equatorial Guinea                0.061182
31                                   Brunei Darussalam               17.831570
83                                               Ghana                0.348865
26                                              Belize                8.999303
53                                              Cyprus               38.375450
204                                         South Asia                2.388300
264                                             Zambia                0.413863
47                                          Cabo Verde                5.193179
188                                              Palau                     NaN
229                                               Chad                0.000422
49                              Caribbean small states               18.171229
195                                           Paraguay               10.780231
161  Middle East & North Africa (excluding high inc...                9.488982
128  Latin America & Caribbean (excluding high income)               16.802258
200                                              Qatar               11.601962
206                                              Sudan                0.066640
220                                           Suriname               20.059414
69                                             Eritrea                0.138110
169                                           Malaysia               11.122041
71                                             Estonia               37.442886
48                                          Costa Rica               20.542798
217                                 Sub-Saharan Africa                0.642060

In [20]:
# Create the "Output_Jibek" directory if it doesn't exist
output_directory = "../Output_Jibek"
if not os.path.exists(output_directory):
    os.makedirs(output_directory)
# Save the cleaned DataFrame to a CSV file in the specified directory
intsubs_machine_df.to_csv(os.path.join(output_directory, 'intsubs_machine_df'), index=False)