In [23]:
import pandas as pd
import os

In [24]:
#Import File
atm = "ATM.csv"
atm_df = pd.read_csv(atm, sep="\t")
atm_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Automated teller machines (ATMs) ...
3  Africa Eastern and Southern,"AFE","Automated t...
4  Afghanistan,"AFG","Automated teller machines (...
5  Africa Western and Central,"AFW","Automated te...
6  Angola,"AGO","Automated teller machines (ATMs)...
7  Albania,"ALB","Automated teller machines (ATMs...
8  Andorra,"AND","Automated teller machines (ATMs...
9  Arab World,"ARB","Automated teller machines (A...

In [25]:
list(atm_df)

['Data Source,"World Development Indicators",']

In [26]:
# Get the contents of row 2
row_2_data = atm_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [27]:
split_data = atm_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_atm_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_atm_df = pd.concat([cleaned_atm_df, split_data.iloc[:, 4:]], axis=1)
cleaned_atm_df = cleaned_atm_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_atm_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""117.94""","""119.07""","""125.99""","""124.98""","""126.43""","""126.74""","""121.3""","""117.34""","""""",
2,Africa Eastern and Southern,"""AFE""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""7.625""","""9.69""","""9.16""","""10.25""","""9.985""","""10.265""","""9.905""","""8.935""","""""",
3,Afghanistan,"""AFG""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""0.75""","""0.92""","""1.06""","""1.21""","""1.61""","""1.64""","""""","""""","""""",
4,Africa Western and Central,"""AFW""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""4.55""","""4.46""","""4.98""","""5.3""","""5.37""","""6""","""6.39""","""6.82""","""""",

In [28]:
# Assign row 0 as column names
cleaned_atm_df.columns = cleaned_atm_df.iloc[0]
cleaned_atm_df.columns = cleaned_atm_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_atm_df = cleaned_atm_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_atm_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""117.94""","""119.07""","""125.99""","""124.98""","""126.43""","""126.74""","""121.3""","""117.34""","""""",
1,Africa Eastern and Southern,"""AFE""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""7.625""","""9.69""","""9.16""","""10.25""","""9.985""","""10.265""","""9.905""","""8.935""","""""",
2,Afghanistan,"""AFG""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""0.75""","""0.92""","""1.06""","""1.21""","""1.61""","""1.64""","""""","""""","""""",
3,Africa Western and Central,"""AFW""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""4.55""","""4.46""","""4.98""","""5.3""","""5.37""","""6""","""6.39""","""6.82""","""""",
4,Angola,"""AGO""","""Automated teller machines (ATMs) (per 100","000 adults)""","""FB.ATM.TOTL.P5""","""""","""""","""""","""""","""""",...,"""18.19""","""18.82""","""19.06""","""19.13""","""18.92""","""18.4""","""17.87""","""17.77""","""""",

In [29]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_atm_df[selected_columns]

cleaned_atm_df = selected_columns

cleaned_atm_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""119.57""","""124.17""","""117.94""","""119.07""","""125.99""","""124.98""","""126.43""","""126.74""","""121.3""","""117.34"""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""1.005""","""1.49""","""2.92""",...,"""5.25""","""6.735""","""7.625""","""9.69""","""9.16""","""10.25""","""9.985""","""10.265""","""9.905""","""8.935"""
2,Afghanistan,"""AFG""","""""","""""","""""","""""","""""","""0.02""","""0.06""","""0.12""",...,"""0.64""","""0.71""","""0.75""","""0.92""","""1.06""","""1.21""","""1.61""","""1.64""","""""",""""""
3,Africa Western and Central,"""AFW""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""2.58""","""4.025""","""4.55""","""4.46""","""4.98""","""5.3""","""5.37""","""6""","""6.39""","""6.82"""
4,Angola,"""AGO""","""""","""""","""""","""""","""""","""0.85""","""1.45""","""3.04""",...,"""15.19""","""16.99""","""18.19""","""18.82""","""19.06""","""19.13""","""18.92""","""18.4""","""17.87""","""17.77"""
5,Albania,"""ALB""","""""","""""","""""","""""","""""","""4.23""","""9.26""","""13.87""",...,"""35.74""","""35.43""","""34.75""","""35.26""","""34.08""","""31.71""","""30.64""","""29.99""","""31.42""","""35.26"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""""","""""","""""","""5.9""","""6.545""","""9.52""",...,"""20.435""","""23.14""","""24.5""","""23.595""","""26.71""","""27.21""","""27.79""","""28.58""","""30.56""","""30.2"""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""18.29""","""42.06""","""38.21""",...,"""56.86""","""58.78""","""61.12""","""64.38""","""65.42""","""65.37""","""64.48""","""60.91""","""52.49""","""51.7"""
9,Argentina,"""ARG""","""""","""""","""""","""""","""""","""1.87""","""2.1""","""2.88""",...,"""34.53""","""43.34""","""45.67""","""47.51""","""50.35""","""53.12""","""58.98""","""60.75""","""62.45""","""62.99"""

In [30]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_atm_df = cleaned_atm_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_atm_df.columns[2:25]:
    cleaned_atm_df[column] = pd.to_numeric(cleaned_atm_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_atm_df.head(25)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.570,124.170,117.940,119.070,125.99,124.98,126.430,126.740,121.300,117.340
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,1.005,1.490,2.92,...,5.250,6.735,7.625,9.690,9.16,10.25,9.985,10.265,9.905,8.935
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,0.020,0.060,0.12,...,0.640,0.710,0.750,0.920,1.06,1.21,1.610,1.640,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.580,4.025,4.550,4.460,4.98,5.30,5.370,6.000,6.390,6.820
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,0.850,1.450,3.04,...,15.190,16.990,18.190,18.820,19.06,19.13,18.920,18.400,17.870,17.770
5,Albania,ALB,NaN,NaN,NaN,NaN,NaN,4.230,9.260,13.87,...,35.740,35.430,34.750,35.260,34.08,31.71,30.640,29.990,31.420,35.260
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,5.900,6.545,9.52,...,20.435,23.140,24.500,23.595,26.71,27.21,27.790,28.580,30.560,30.200
8,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,18.290,42.060,38.21,...,56.860,58.780,61.120,64.380,65.42,65.37,64.480,60.910,52.490,51.700
9,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,1.870,2.100,2.88,...,34.530,43.340,45.670,47.510,50.35,53.12,58.980,60.750,62.450,62.990
10,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,3.040,4.950,7.69,...,50.400,53.910,59.430,60.560,61.16,63.74,64.110,65.540,65.520,67.120
11,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,52.830,65.140,63.85,...,75.340,79.740,77.060,74.540,68.17,66.03,66.650,65.970,61.410,54.350
13,Australia,AUS,NaN,NaN,NaN,NaN,NaN,139.580,146.460,154.73,...,164.700,161.170,165.230,163.900,167.70,160.32,146.170,136.540,129.660,123.590
14,Austria,AUT,NaN,NaN,NaN,NaN,NaN,116.160,106.790,108.34,...,115.630,117.270,186.370,183.270,162.92,165.04,169.410,171.910,167.960,168.710
15,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.07,...,31.390,33.240,35.410,36.200,32.72,32.16,32.850,34.490,35.170,37.430
16,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,0.050,0.050,0.05,...,0.990,1.550,1.510,1.430,1.42,NaN,NaN,NaN,NaN,NaN
17,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,83.890,83.580,83.12,...,94.230,93.950,90.930,90.020,88.34,87.45,80.970,75.190,67.170,NaN
18,Benin,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.510,3.690,3.88,3.84,4.870,4.780,4.380,4.260
19,Burkina Faso,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.460,4.81,5.37,4.180,5.150,4.510,4.500
20,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,0.130,0.200,0.35,...,4.040,4.960,5.770,7.090,8.03,8.36,8.920,9.420,10.530,11.450
21,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,26.390,34.450,54.85,...,93.120,93.740,90.480,91.270,94.16,94.77,93.400,94.330,91.280,89.180
22,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Bahamas,The,NaN,NaN,NaN,NaN,NaN,NaN,66.020,67.66,...,82.010,80.480,112.870,119.460,121.30,138.78,122.950,127.790,126.850,123.580
24,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.76,...,42.190,45.630,48.310,51.920,52.48,53.89,55.840,58.240,58.020,58.190

In [31]:
#Perform data interpolation on the numeric columns
cleaned_atm_df = cleaned_atm_df.interpolate(method='linear')
cleaned_atm_df.head(25)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.570000,124.170000,117.940,119.0700,125.990,124.980,126.430,126.740,121.3000,117.340000
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,1.0050,1.490000,2.920,...,5.250000,6.735000,7.625,9.6900,9.160,10.250,9.985,10.265,9.9050,8.935000
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,0.0200,0.060000,0.120,...,0.640000,0.710000,0.750,0.9200,1.060,1.210,1.610,1.640,8.1475,7.877500
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,0.4350,0.755000,1.580,...,2.580000,4.025000,4.550,4.4600,4.980,5.300,5.370,6.000,6.3900,6.820000
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,0.8500,1.450000,3.040,...,15.190000,16.990000,18.190,18.8200,19.060,19.130,18.920,18.400,17.8700,17.770000
5,Albania,ALB,NaN,NaN,NaN,NaN,NaN,4.2300,9.260000,13.870,...,35.740000,35.430000,34.750,35.2600,34.080,31.710,30.640,29.990,31.4200,35.260000
6,Andorra,AND,NaN,NaN,NaN,NaN,NaN,5.0650,7.902500,11.695,...,28.087500,29.285000,29.625,29.4275,30.395,29.460,29.215,29.285,30.9900,32.730000
7,Arab World,ARB,NaN,NaN,NaN,NaN,NaN,5.9000,6.545000,9.520,...,20.435000,23.140000,24.500,23.5950,26.710,27.210,27.790,28.580,30.5600,30.200000
8,United Arab Emirates,ARE,NaN,NaN,NaN,NaN,NaN,18.2900,42.060000,38.210,...,56.860000,58.780000,61.120,64.3800,65.420,65.370,64.480,60.910,52.4900,51.700000
9,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,1.8700,2.100000,2.880,...,34.530000,43.340000,45.670,47.5100,50.350,53.120,58.980,60.750,62.4500,62.990000
10,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,3.0400,4.950000,7.690,...,50.400000,53.910000,59.430,60.5600,61.160,63.740,64.110,65.540,65.5200,67.120000
11,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,27.9350,35.045000,35.770,...,62.870000,66.825000,68.245,67.5500,64.665,64.885,65.380,65.755,63.4650,60.735000
12,Antigua and Barbuda,ATG,NaN,NaN,NaN,NaN,NaN,52.8300,65.140000,63.850,...,75.340000,79.740000,77.060,74.5400,68.170,66.030,66.650,65.970,61.4100,54.350000
13,Australia,AUS,NaN,NaN,NaN,NaN,NaN,139.5800,146.460000,154.730,...,164.700000,161.170000,165.230,163.9000,167.700,160.320,146.170,136.540,129.6600,123.590000
14,Austria,AUT,NaN,NaN,NaN,NaN,NaN,116.1600,106.790000,108.340,...,115.630000,117.270000,186.370,183.2700,162.920,165.040,169.410,171.910,167.9600,168.710000
15,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,58.1050,53.420000,17.070,...,31.390000,33.240000,35.410,36.2000,32.720,32.160,32.850,34.490,35.1700,37.430000
16,Burundi,BDI,NaN,NaN,NaN,NaN,NaN,0.0500,0.050000,0.050,...,0.990000,1.550000,1.510,1.4300,1.420,59.805,56.910,54.840,51.1700,26.373333
17,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,83.8900,83.580000,83.120,...,94.230000,93.950000,90.930,90.0200,88.340,87.450,80.970,75.190,67.1700,15.316667
18,Benin,BEN,NaN,NaN,NaN,NaN,NaN,55.9700,55.786667,55.530,...,64.166667,64.286667,3.510,3.6900,3.880,3.840,4.870,4.780,4.3800,4.260000
19,Burkina Faso,BFA,NaN,NaN,NaN,NaN,NaN,28.0500,27.993333,27.940,...,34.103333,34.623333,4.640,4.4600,4.810,5.370,4.180,5.150,4.5100,4.500000
20,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,0.1300,0.200000,0.350,...,4.040000,4.960000,5.770,7.0900,8.030,8.360,8.920,9.420,10.5300,11.450000
21,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,26.3900,34.450000,54.850,...,93.120000,93.740000,90.480,91.2700,94.160,94.770,93.400,94.330,91.2800,89.180000
22,Bahrain,BHR,NaN,NaN,NaN,NaN,NaN,22.5075,50.235000,61.255,...,87.565000,87.110000,101.675,105.3650,107.730,116.775,108.175,111.060,109.0650,106.380000
23,Bahamas,The,NaN,NaN,NaN,NaN,NaN,18.6250,66.020000,67.660,...,82.010000,80.480000,112.870,119.4600,121.300,138.780,122.950,127.790,126.8500,123.580000
24,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,14.7425,40.710000,15.760,...,42.190000,45.630000,48.310,51.9200,52.480,53.890,55.840,58.240,58.0200,58.190000

In [32]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_atm_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="ATM Usage")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year","Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  ATM Usage
0                  Afghanistan          AFG  2000        NaN
1  Africa Eastern and Southern          AFE  2000        NaN
2   Africa Western and Central          AFW  2000        NaN
3                      Albania          ALB  2000        NaN
4                      Algeria          DZA  2000        NaN

In [33]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/ATM_Usage.csv', index=False)