In [1]:
import pandas as pd
import os

In [2]:
internet_usage = "Individuals_Internet_usage.csv"
internet_usage_df = pd.read_csv(internet_usage, sep="\t")
internet_usage_df

           Data Source,"World Development Indicators",
0                      Last Updated Date,"2023-06-29",
1    Country Name,"Country Code","Indicator Name","...
2    Aruba,"ABW","Individuals using the Internet (%...
3    Africa Eastern and Southern,"AFE","Individuals...
4    Afghanistan,"AFG","Individuals using the Inter...
..                                                 ...
263  Kosovo,"XKX","Individuals using the Internet (...
264  Yemen, Rep.,"YEM","Individuals using the Inter...
265  South Africa,"ZAF","Individuals using the Inte...
266  Zambia,"ZMB","Individuals using the Internet (...
267  Zimbabwe,"ZWE","Individuals using the Internet...

[268 rows x 1 columns]

In [3]:
list(internet_usage_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = internet_usage_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
split_data = internet_usage_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_internet_usage_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_internet_usage_df = pd.concat([cleaned_internet_usage_df, split_data.iloc[:, 4:]], axis=1)
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_internet_usage_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""88.66122693""","""93.54245387""","""97.17""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""14.4858491534531""","""15.753329822739""","""17.3109868719447""","""20.0630242595526""","""22.5895992519959""","""24.9884008681592""","""27.660653781351""","""""",,None
3,Afghanistan,"""AFG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""8.26""","""11""","""13.5""","""16.8""","""17.6""","""18.4""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""18.1094850427716""","""22.8697496052977""","""27.0812193846418""","""32.0893370172076""","""35.2764479325331""","""41.7498190724143""","""46.9904973070537""","""""",,None

In [6]:
# Assign row 0 as column names
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.iloc[0]

# Remove any quotation marks from column names
cleaned_internet_usage_df.columns = cleaned_internet_usage_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
cleaned_internet_usage_df = cleaned_internet_usage_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_internet_usage_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""88.66122693""","""93.54245387""","""97.17""","""""","""""","""""","""""","""""",,None
1,Africa Eastern and Southern,"""AFE""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""14.4858491534531""","""15.753329822739""","""17.3109868719447""","""20.0630242595526""","""22.5895992519959""","""24.9884008681592""","""27.660653781351""","""""",,None
2,Afghanistan,"""AFG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""8.26""","""11""","""13.5""","""16.8""","""17.6""","""18.4""","""""","""""",,None
3,Africa Western and Central,"""AFW""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""18.1094850427716""","""22.8697496052977""","""27.0812193846418""","""32.0893370172076""","""35.2764479325331""","""41.7498190724143""","""46.9904973070537""","""""",,None
4,Angola,"""AGO""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""22""","""23.2""","""26""","""29""","""32.12939197""","""32.55014678""","""32.60230173""","""""",,None
5,Albania,"""ALB""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""56.9""","""59.6""","""62.4""","""65.4""","""68.55039112""","""72.23767711""","""79.32""","""""",,None
6,Andorra,"""AND""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""87.9""","""89.7""","""91.56746703""","""""","""90.71866533""","""93.20564892""","""93.89752157""","""""",,None
7,Arab World,"""ARB""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""41.3816170535244""","""41.5291955662799""","""46.6646762508779""","""53.1981911718007""","""60.7310291575392""","""66.4221082981695""","""76.110959625667""","""""",,None
8,United Arab Emirates,"""ARE""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""90.5""","""90.60000732""","""94.81992254""","""98.45000178""","""99.14999796""","""100""","""100""","""""",,None
9,Argentina,"""ARG""","""Individuals using the Internet (% of populati...","""IT.NET.USER.ZS""","""""","""""","""""","""""","""""","""""",...,"""68.04306411""","""70.96898082""","""74.29490687""","""77.7""","""79.94695203""","""85.51438646""","""87.15070683""","""""",,None

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2000, 2023)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_internet_usage_df[selected_columns]

cleaned_internet_usage_df = selected_columns

cleaned_internet_usage_df.head(10)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,"""ABW""","""15.44282295""","""17.1""","""18.8""","""20.8""","""23""","""25.4""","""28""","""30.9""",...,"""78.9""","""83.78""","""88.66122693""","""93.54245387""","""97.17""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""0.77421755469409""","""0.961552005089705""","""1.1316294433033""","""1.43039835507724""","""1.71604667481381""","""1.80552314212711""","""2.05810176814815""","""2.7732738256208""",...,"""10.1269454655226""","""12.2377157932034""","""14.4858491534531""","""15.753329822739""","""17.3109868719447""","""20.0630242595526""","""22.5895992519959""","""24.9884008681592""","""27.660653781351""",""""""
2,Afghanistan,"""AFG""","""""","""0.004722568""","""0.004561395""","""0.087891253""","""0.10580903""","""1.224148084""","""2.107123645""","""1.9""",...,"""5.9""","""7""","""8.26""","""11""","""13.5""","""16.8""","""17.6""","""18.4""","""""",""""""
3,Africa Western and Central,"""AFW""","""0.139444898636359""","""0.21015312440225""","""0.412121735356163""","""0.657937928967395""","""1.17631825716585""","""2.32241581377363""","""3.45834089338183""","""4.23339885847179""",...,"""12.5777557951493""","""14.923440708625""","""18.1094850427716""","""22.8697496052977""","""27.0812193846418""","""32.0893370172076""","""35.2764479325331""","""41.7498190724143""","""46.9904973070537""",""""""
4,Angola,"""AGO""","""0.105045562""","""0.136013867""","""0.270376746""","""0.370682065""","""0.464814618""","""1.143366827""","""1.5""","""1.7""",...,"""13""","""21.4""","""22""","""23.2""","""26""","""29""","""32.12939197""","""32.55014678""","""32.60230173""",""""""
5,Albania,"""ALB""","""0.114097347""","""0.325798377""","""0.390081273""","""0.971900415""","""2.420387798""","""6.043890864""","""9.609991316""","""15.03611541""",...,"""51.8""","""54.3""","""56.9""","""59.6""","""62.4""","""65.4""","""68.55039112""","""72.23767711""","""79.32""",""""""
6,Andorra,"""AND""","""10.53883561""","""""","""11.26046872""","""13.54641288""","""26.83795439""","""37.60576622""","""48.936847""","""70.87""",...,"""84.4""","""86.1""","""87.9""","""89.7""","""91.56746703""","""""","""90.71866533""","""93.20564892""","""93.89752157""",""""""
7,Arab World,"""ARB""","""1.21705641649358""","""1.6399570540869""","""2.79782204919422""","""3.77037813690713""","""7.25012731787421""","""8.61472994617376""","""11.5893486742988""","""14.3537690407378""",...,"""33.9101316977464""","""37.6559500541718""","""41.3816170535244""","""41.5291955662799""","""46.6646762508779""","""53.1981911718007""","""60.7310291575392""","""66.4221082981695""","""76.110959625667""",""""""
8,United Arab Emirates,"""ARE""","""23.62530088""","""26.2717542""","""28.31648531""","""29.47795341""","""30.13129617""","""40""","""52""","""61""",...,"""88""","""90.4""","""90.5""","""90.60000732""","""94.81992254""","""98.45000178""","""99.14999796""","""100""","""100""",""""""
9,Argentina,"""ARG""","""7.038683086""","""9.780807285""","""10.88212438""","""11.91369655""","""16.03668411""","""17.72058337""","""20.9272021""","""25.94663294""",...,"""59.9""","""64.7""","""68.04306411""","""70.96898082""","""74.29490687""","""77.7""","""79.94695203""","""85.51438646""","""87.15070683""",""""""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_internet_usage_df = cleaned_internet_usage_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_internet_usage_df.columns[2:25]:
    cleaned_internet_usage_df[column] = pd.to_numeric(cleaned_internet_usage_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_internet_usage_df.head()

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,15.442823,17.100000,18.800000,20.800000,23.000000,25.400000,28.000000,30.900000,...,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,0.774218,0.961552,1.131629,1.430398,1.716047,1.805523,2.058102,2.773274,...,10.126945,12.237716,14.485849,15.753330,17.310987,20.063024,22.589599,24.988401,27.660654,NaN
2,Afghanistan,AFG,NaN,0.004723,0.004561,0.087891,0.105809,1.224148,2.107124,1.900000,...,5.900000,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,NaN,NaN
3,Africa Western and Central,AFW,0.139445,0.210153,0.412122,0.657938,1.176318,2.322416,3.458341,4.233399,...,12.577756,14.923441,18.109485,22.869750,27.081219,32.089337,35.276448,41.749819,46.990497,NaN
4,Angola,AGO,0.105046,0.136014,0.270377,0.370682,0.464815,1.143367,1.500000,1.700000,...,13.000000,21.400000,22.000000,23.200000,26.000000,29.000000,32.129392,32.550147,32.602302,NaN

In [9]:
# Perform data interpolation on the numeric columns
cleaned_internet_usage_df = cleaned_internet_usage_df.interpolate()
cleaned_internet_usage_df.head(5)

,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,15.442823,17.100000,18.800000,20.800000,23.000000,25.400000,28.000000,30.900000,...,78.900000,83.780000,88.661227,93.542454,97.170000,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,0.774218,0.961552,1.131629,1.430398,1.716047,1.805523,2.058102,2.773274,...,10.126945,12.237716,14.485849,15.753330,17.310987,20.063024,22.589599,24.988401,27.660654,NaN
2,Afghanistan,AFG,0.456831,0.004723,0.004561,0.087891,0.105809,1.224148,2.107124,1.900000,...,5.900000,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,37.325576,NaN
3,Africa Western and Central,AFW,0.139445,0.210153,0.412122,0.657938,1.176318,2.322416,3.458341,4.233399,...,12.577756,14.923441,18.109485,22.869750,27.081219,32.089337,35.276448,41.749819,46.990497,NaN
4,Angola,AGO,0.105046,0.136014,0.270377,0.370682,0.464815,1.143367,1.500000,1.700000,...,13.000000,21.400000,22.000000,23.200000,26.000000,29.000000,32.129392,32.550147,32.602302,NaN

In [10]:

# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_internet_usage_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Internet Usage Per 100")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Internet Usage Per 100
0                  Afghanistan          AFG  2000                    0.46
1  Africa Eastern and Southern          AFE  2000                    0.77
2   Africa Western and Central          AFW  2000                    0.14
3                      Albania          ALB  2000                    0.11
4                      Algeria          DZA  2000                    0.49

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Internet_Usage.csv', index=False)