In [1]:
#Import Dependancies
import pandas as pd
import os

In [2]:
#Import File
mobile_sub = 'Mobile_Subscription_per100.csv'
mobile_sub_df = pd.read_csv(mobile_sub,  sep="\t")
mobile_sub_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Mobile cellular subscriptions (pe...
3  Africa Eastern and Southern,"AFE","Mobile cell...
4  Afghanistan,"AFG","Mobile cellular subscriptio...
5  Africa Western and Central,"AFW","Mobile cellu...
6  Angola,"AGO","Mobile cellular subscriptions (p...
7  Albania,"ALB","Mobile cellular subscriptions (...
8  Andorra,"AND","Mobile cellular subscriptions (...
9  Arab World,"ARB","Mobile cellular subscription...

In [3]:
list(mobile_sub_df)

['Data Source,"World Development Indicators",']

In [4]:
# Get the contents of row 2
row_2_data = mobile_sub_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [5]:
# Split columns
split_data = mobile_sub_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_mobile_sub_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_mobile_sub_df = pd.concat([split_mobile_sub_df, split_data.iloc[:, 4:]], axis=1)
split_mobile_sub_df = split_mobile_sub_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_mobile_sub_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""135.2427175""","""""","""""","""""","""132.4665076""","""132.2887836""","""132.3496283""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""67.2938731832888""","""64.2849546298434""","""64.2226191451532""","""72.3171815751444""","""68.736998772629""","""71.0609338093953""","""75.8584211840452""","""""",,None
3,Afghanistan,"""AFG""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""58.39109599""","""62.37109623""","""67.13641492""","""59.90264778""","""59.78387904""","""58.1902139""","""56.55443457""","""""",,None
4,Africa Western and Central,"""AFW""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""85.2005633467546""","""84.8391679704512""","""83.225379057631""","""92.5819747932916""","""93.1335681658221""","""98.3833152745622""","""96.4687397246526""","""""",,None
5,Angola,"""AGO""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""49.36244924""","""44.59350803""","""44.10644535""","""42.49094914""","""45.8377414""","""43.81009059""","""44.42373173""","""""",,None
6,Albania,"""ALB""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""117.9871153""","""116.9622462""","""125.9205273""","""94.36446759""","""91.51642864""","""91.35050062""","""92.31992041""","""""",,None
7,Andorra,"""AND""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""99.42853957""","""104.9517508""","""108.8046481""","""110.1329103""","""115.1500465""","""103.4491634""","""112.346585""","""""",,None
8,Arab World,"""ARB""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""102.997439000868""","""100.424978952655""","""98.1963031894915""","""96.4014579839673""","""94.9944320296639""","""94.2949050461681""","""96.8274537126931""","""""",,None
9,United Arab Emirates,"""ARE""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""""","""""","""""","""""","""""","""""",...,"""201.219729""","""221.308772""","""218.6322987""","""219.700673""","""212.804439""","""197.8438703""","""194.7336208""","""""",,None

In [6]:
# Assign row 0 as column names
split_mobile_sub_df.columns = split_mobile_sub_df.iloc[0]

# Remove any quotation marks from column names
split_mobile_sub_df.columns = split_mobile_sub_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_mobile_sub_df = split_mobile_sub_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_mobile_sub_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""135.2427175""","""""","""""","""""","""132.4665076""","""132.2887836""","""132.3496283""","""""",,None
1,Africa Eastern and Southern,"""AFE""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""67.2938731832888""","""64.2849546298434""","""64.2226191451532""","""72.3171815751444""","""68.736998772629""","""71.0609338093953""","""75.8584211840452""","""""",,None
2,Afghanistan,"""AFG""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""58.39109599""","""62.37109623""","""67.13641492""","""59.90264778""","""59.78387904""","""58.1902139""","""56.55443457""","""""",,None
3,Africa Western and Central,"""AFW""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""85.2005633467546""","""84.8391679704512""","""83.225379057631""","""92.5819747932916""","""93.1335681658221""","""98.3833152745622""","""96.4687397246526""","""""",,None
4,Angola,"""AGO""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""49.36244924""","""44.59350803""","""44.10644535""","""42.49094914""","""45.8377414""","""43.81009059""","""44.42373173""","""""",,None
5,Albania,"""ALB""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""117.9871153""","""116.9622462""","""125.9205273""","""94.36446759""","""91.51642864""","""91.35050062""","""92.31992041""","""""",,None
6,Andorra,"""AND""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""99.42853957""","""104.9517508""","""108.8046481""","""110.1329103""","""115.1500465""","""103.4491634""","""112.346585""","""""",,None
7,Arab World,"""ARB""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""102.997439000868""","""100.424978952655""","""98.1963031894915""","""96.4014579839673""","""94.9944320296639""","""94.2949050461681""","""96.8274537126931""","""""",,None
8,United Arab Emirates,"""ARE""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""""","""""","""""","""""","""""","""""",...,"""201.219729""","""221.308772""","""218.6322987""","""219.700673""","""212.804439""","""197.8438703""","""194.7336208""","""""",,None
9,Argentina,"""ARG""","""Mobile cellular subscriptions (per 100 people)""","""IT.CEL.SETS.P2""","""0""","""""","""""","""""","""""","""0""",...,"""142.9639551""","""145.9179567""","""140.5014607""","""131.9371685""","""125.9409814""","""121.6001889""","""130.4550081""","""""",,None

In [7]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_mobile_sub_df[selected_columns]

cleaned_mobile_sub_df = selected_columns

cleaned_mobile_sub_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""131.3507803""","""""","""132.2077719""","""134.9144635""","""134.8533699""","""135.2427175""","""""","""""","""""","""132.4665076""","""132.2887836"""
1,Africa Eastern and Southern,"""AFE""","""38.5271319772483""","""48.0159935090946""","""52.7679765565158""","""57.6880768277277""","""61.9358160623131""","""67.2938731832888""","""64.2849546298434""","""64.2226191451532""","""72.3171815751444""","""68.736998772629""","""71.0609338093953"""
2,Afghanistan,"""AFG""","""36.23965543""","""47.17359546""","""50.35079702""","""53.28634042""","""56.26314295""","""58.39109599""","""62.37109623""","""67.13641492""","""59.90264778""","""59.78387904""","""58.1902139"""
3,Africa Western and Central,"""AFW""","""52.27223728058""","""58.249872484352""","""67.1094646656648""","""75.0120031475166""","""80.2975320892204""","""85.2005633467546""","""84.8391679704512""","""83.225379057631""","""92.5819747932916""","""93.1335681658221""","""98.3833152745622"""
4,Angola,"""AGO""","""40.24692066""","""49.76776766""","""50.75814192""","""50.80964158""","""51.80029281""","""49.36244924""","""44.59350803""","""44.10644535""","""42.49094914""","""45.8377414""","""43.81009059"""
5,Albania,"""ALB""","""92.41340015""","""106.8724501""","""121.0154371""","""127.67458""","""116.4887372""","""117.9871153""","""116.9622462""","""125.9205273""","""94.36446759""","""91.51642864""","""91.35050062"""
6,Andorra,"""AND""","""91.57706344""","""92.17208933""","""89.93550386""","""89.58187372""","""92.48694535""","""99.42853957""","""104.9517508""","""108.8046481""","""110.1329103""","""115.1500465""","""103.4491634"""
7,Arab World,"""ARB""","""85.6094564648384""","""94.4751848643954""","""100.300841931146""","""104.741398824987""","""104.242109611802""","""102.997439000868""","""100.424978952655""","""98.1963031894915""","""96.4014579839673""","""94.9944320296639""","""94.2949050461681"""
8,United Arab Emirates,"""ARE""","""128.8176608""","""136.7594244""","""158.9763381""","""183.5446297""","""190.3476162""","""201.219729""","""221.308772""","""218.6322987""","""219.700673""","""212.804439""","""197.8438703"""
9,Argentina,"""ARG""","""138.8859542""","""146.2467408""","""153.3349717""","""158.9154655""","""142.9902363""","""142.9639551""","""145.9179567""","""140.5014607""","""131.9371685""","""125.9409814""","""121.6001889"""

In [8]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_mobile_sub_df = cleaned_mobile_sub_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_mobile_sub_df.columns[2:13]:
    cleaned_mobile_sub_df[column] = pd.to_numeric(cleaned_mobile_sub_df[column], errors='coerce')

# Display the updated DataFrame
cleaned_mobile_sub_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,131.350780,NaN,132.207772,134.914464,134.853370,135.242717,NaN,NaN,NaN,132.466508,132.288784
1,Africa Eastern and Southern,AFE,38.527132,48.015994,52.767977,57.688077,61.935816,67.293873,64.284955,64.222619,72.317182,68.736999,71.060934
2,Afghanistan,AFG,36.239655,47.173595,50.350797,53.286340,56.263143,58.391096,62.371096,67.136415,59.902648,59.783879,58.190214
3,Africa Western and Central,AFW,52.272237,58.249872,67.109465,75.012003,80.297532,85.200563,84.839168,83.225379,92.581975,93.133568,98.383315
4,Angola,AGO,40.246921,49.767768,50.758142,50.809642,51.800293,49.362449,44.593508,44.106445,42.490949,45.837741,43.810091

In [9]:
# Perform data interpolation on the numeric columns
cleaned_mobile_sub_df = cleaned_mobile_sub_df.interpolate()
cleaned_mobile_sub_df.head(5)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,131.350780,NaN,132.207772,134.914464,134.853370,135.242717,NaN,NaN,NaN,132.466508,132.288784
1,Africa Eastern and Southern,AFE,38.527132,48.015994,52.767977,57.688077,61.935816,67.293873,64.284955,64.222619,72.317182,68.736999,71.060934
2,Afghanistan,AFG,36.239655,47.173595,50.350797,53.286340,56.263143,58.391096,62.371096,67.136415,59.902648,59.783879,58.190214
3,Africa Western and Central,AFW,52.272237,58.249872,67.109465,75.012003,80.297532,85.200563,84.839168,83.225379,92.581975,93.133568,98.383315
4,Angola,AGO,40.246921,49.767768,50.758142,50.809642,51.800293,49.362449,44.593508,44.106445,42.490949,45.837741,43.810091

In [10]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_mobile_sub_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Mobile Sub Per 100")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Mobile Sub Per 100
0                  Afghanistan          AFG  2010               36.24
1  Africa Eastern and Southern          AFE  2010               38.53
2   Africa Western and Central          AFW  2010               52.27
3                      Albania          ALB  2010               92.41
4                      Algeria          DZA  2010               91.42

In [11]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Mobile Subscription.csv', index=False)