In [153]:
#Import Dependancies
import pandas as pd
import os

#  1. Read in and Clean Medium to High Tech Manufacturing File

In [154]:
#Import File
med_high_tech_man = 'Med_and_High_Tech_Manufacturing.csv'
med_high_tech_man_df = pd.read_csv(med_high_tech_man,  sep="\t")
med_high_tech_man_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Medium and high-tech manufacturin...
3  Africa Eastern and Southern,"AFE","Medium and ...
4  Afghanistan,"AFG","Medium and high-tech manufa...
5  Africa Western and Central,"AFW","Medium and h...
6  Angola,"AGO","Medium and high-tech manufacturi...
7  Albania,"ALB","Medium and high-tech manufactur...
8  Andorra,"AND","Medium and high-tech manufactur...
9  Arab World,"ARB","Medium and high-tech manufac...

In [155]:
list(med_high_tech_man_df)

['Data Source,"World Development Indicators",']

In [156]:
# Get the contents of row 2
row_2_data = med_high_tech_man_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [157]:
split_data = med_high_tech_man_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_med_high_tech_man_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_med_high_tech_man_df = pd.concat([split_med_high_tech_man_df, split_data.iloc[:, 4:]], axis=1)
split_med_high_tech_man_df = split_med_high_tech_man_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_med_high_tech_man_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
3,Afghanistan,"""AFG""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""9.50743390514774""","""8.46474929195433""","""6.90132854471341""","""6.41240942152383""","""8.46496563965005""","""8.46496563965005""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
5,Angola,"""AGO""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""2.98513777140918""","""3.37269753206476""","""3.37269753199276""","""3.3726975319333""","""3.3726975319333""","""3.3726975319333""","""""","""""",,None
6,Albania,"""ALB""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""5.80443538622455""","""4.4681507380307""","""4.88103821196828""","""4.60902290572876""","""4.24372005552322""","""4.24376756173948""","""""","""""",,None
7,Andorra,"""AND""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
8,Arab World,"""ARB""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
9,United Arab Emirates,"""ARE""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""35.9297130091081""","""35.9194621757436""","""36.6315387916647""","""37.4891696614907""","""39.192946222893""","""39.2133345859232""","""""","""""",,None

In [158]:
# Assign row 0 as column names
split_med_high_tech_man_df.columns = split_med_high_tech_man_df.iloc[0]


# Remove any quotation marks from column names
split_med_high_tech_man_df.columns = split_med_high_tech_man_df.columns.str.replace('"', '')


# Drop row 0 from the DataFrame
split_med_high_tech_man_df = split_med_high_tech_man_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_med_high_tech_man_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
1,Africa Eastern and Southern,"""AFE""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Afghanistan,"""AFG""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""9.50743390514774""","""8.46474929195433""","""6.90132854471341""","""6.41240942152383""","""8.46496563965005""","""8.46496563965005""","""""","""""",,None
3,Africa Western and Central,"""AFW""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
4,Angola,"""AGO""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""2.98513777140918""","""3.37269753206476""","""3.37269753199276""","""3.3726975319333""","""3.3726975319333""","""3.3726975319333""","""""","""""",,None
5,Albania,"""ALB""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""5.80443538622455""","""4.4681507380307""","""4.88103821196828""","""4.60902290572876""","""4.24372005552322""","""4.24376756173948""","""""","""""",,None
6,Andorra,"""AND""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
7,Arab World,"""ARB""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
8,United Arab Emirates,"""ARE""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""35.9297130091081""","""35.9194621757436""","""36.6315387916647""","""37.4891696614907""","""39.192946222893""","""39.2133345859232""","""""","""""",,None
9,Argentina,"""ARG""","""Medium and high-tech manufacturing value adde...","""NV.MNF.TECH.ZS.UN""","""""","""""","""""","""""","""""","""""",...,"""25.2940192718582""","""26.9204760768435""","""27.29380500519""","""25.0392642031328""","""23.8986515568024""","""25.2649385896209""","""""","""""",,None

In [193]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2007, 2022)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_med_high_tech_man_df[selected_columns]

cleaned_med_high_tech_man_df = selected_columns

cleaned_med_high_tech_man_df.head(10)

,Country Name,Country Code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
2,Afghanistan,"""AFG""","""3.06396016851781""","""9.55929665290078""","""10.0068399452804""","""9.48396392550296""","""9.28515436811549""","""9.04540630889217""","""9.38375959895067""","""9.50743390124228""","""9.50743390514774""","""8.46474929195433""","""6.90132854471341""","""6.41240942152383""","""8.46496563965005""","""8.46496563965005""",""""""
3,Africa Western and Central,"""AFW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
4,Angola,"""AGO""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""3.26544047447621""","""2.98513777140918""","""3.37269753206476""","""3.37269753199276""","""3.3726975319333""","""3.3726975319333""","""3.3726975319333""",""""""
5,Albania,"""ALB""","""18.950749351955""","""14.0880113317174""","""14.3615194179702""","""6.55594383866479""","""10.5491947192084""","""17.0950463301496""","""5.63648928406372""","""6.6282662687677""","""5.80443538622455""","""4.4681507380307""","""4.88103821196828""","""4.60902290572876""","""4.24372005552322""","""4.24376756173948""",""""""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
8,United Arab Emirates,"""ARE""","""37.6338477005204""","""37.6338477012475""","""37.6338477009682""","""37.6338476998104""","""37.633847699586""","""37.7825506911788""","""37.8735451399811""","""37.8286131158646""","""35.9297130091081""","""35.9194621757436""","""36.6315387916647""","""37.4891696614907""","""39.192946222893""","""39.2133345859232""",""""""
9,Argentina,"""ARG""","""26.3538176224921""","""25.9318967466923""","""25.5208988357025""","""26.1834763194443""","""26.326283940279""","""26.2695537667952""","""26.4207779418198""","""25.4786952520741""","""25.2940192718582""","""26.9204760768435""","""27.29380500519""","""25.0392642031328""","""23.8986515568024""","""25.2649385896209""",""""""

In [194]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_med_high_tech_man_df = cleaned_med_high_tech_man_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_med_high_tech_man_df.columns[2:17]:
    cleaned_med_high_tech_man_df[column] = pd.to_numeric(cleaned_med_high_tech_man_df[column], errors='coerce')

# Round all numerical values to two decimal places
cleaned_med_high_tech_man_df = cleaned_med_high_tech_man_df.round(2)

# Display the updated DataFrame
cleaned_med_high_tech_man_df.head()

,Country Name,Country Code,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,3.06,9.56,10.01,9.48,9.29,9.05,9.38,9.51,9.51,8.46,6.90,6.41,8.46,8.46,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,3.27,3.27,3.27,3.27,3.27,3.27,3.27,3.27,2.99,3.37,3.37,3.37,3.37,3.37,NaN

# 2. Read in and Mobile Sunscription File

In [117]:
#Import File
Mobile_Sub = "Mobile_Subscription_per100.csv"
Mobile_Sub_df = pd.read_csv(Mobile_Sub,  sep="\t")
med_high_tech_man_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Medium and high-tech manufacturin...
3  Africa Eastern and Southern,"AFE","Medium and ...
4  Afghanistan,"AFG","Medium and high-tech manufa...
5  Africa Western and Central,"AFW","Medium and h...
6  Angola,"AGO","Medium and high-tech manufacturi...
7  Albania,"ALB","Medium and high-tech manufactur...
8  Andorra,"AND","Medium and high-tech manufactur...
9  Arab World,"ARB","Medium and high-tech manufac...