In [9]:
import pandas as pd
import os

In [10]:
in_subs = "Internet_Subscription_Per100.csv"
in_subs_df = pd.read_csv(in_subs, sep="\t")
in_subs_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Fixed broadband subscriptions (pe...
3  Africa Eastern and Southern,"AFE","Fixed broad...
4  Afghanistan,"AFG","Fixed broadband subscriptio...
5  Africa Western and Central,"AFW","Fixed broadb...
6  Angola,"AGO","Fixed broadband subscriptions (p...
7  Albania,"ALB","Fixed broadband subscriptions (...
8  Andorra,"AND","Fixed broadband subscriptions (...
9  Arab World,"ARB","Fixed broadband subscription...

In [11]:
list(in_subs_df)

['Data Source,"World Development Indicators",']

In [12]:
# Get the contents of row 2
row_2_data = in_subs_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [13]:
split_data = in_subs_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
cleaned_in_subs_df= pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)

# Concatenate the remaining columns from split_data to cleaned_atm_df
cleaned_in_subs_df = pd.concat([cleaned_in_subs_df, split_data.iloc[:, 4:]], axis=1)
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)
# Display the cleaned DataFrame
cleaned_in_subs_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""18.22419598""","""""","""""","""""","""17.85009677""","""17.82614814""","""17.83434708""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.514450660064243""","""0.507694668659498""","""0.539087555281365""","""0.691819236505032""","""0.620279018291044""","""0.730465333404574""","""0.834709948050618""","""""",,None
3,Afghanistan,"""AFG""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.020937089""","""0.025409826""","""0.025760717""","""0.04360971""","""0.052113481""","""0.06817675""","""0.066260241""","""""",,None
4,Africa Western and Central,"""AFW""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.142783493856492""","""0.238595580832002""","""0.234462471307125""","""0.269759705316744""","""0.269670766137041""","""0.388434069390146""","""0.358830315556206""","""""",,None

In [14]:
# Assign row 0 as column names
cleaned_in_subs_df.columns = cleaned_in_subs_df.iloc[0]

# Remove any quotation marks from column names
cleaned_in_subs_df.columns = cleaned_in_subs_df.columns.str.replace('"', '')  # Remove any quotation marks from column names

# Drop row 0 from the DataFrame
cleaned_in_subs_df = cleaned_in_subs_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
cleaned_in_subs_df.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
158,Mali,"""MLI""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.019317716""","""0.114673147""","""0.079745828""","""0.606662948""","""0.692950172""","""1.14872569""","""0.662652877""","""""",,None
2,Afghanistan,"""AFG""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""0.020937089""","""0.025409826""","""0.025760717""","""0.04360971""","""0.052113481""","""0.06817675""","""0.066260241""","""""",,None
75,Finland,"""FIN""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""31.57056871""","""31.15435436""","""31.04496255""","""31.49328769""","""32.54529174""","""33.38476685""","""33.67056889""","""""",,None
35,Canada,"""CAN""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""36.70471777""","""37.06781159""","""38.09069444""","""39.00501398""","""40.35483004""","""41.09990035""","""42.06971289""","""""",,None
92,Guatemala,"""GTM""","""Fixed broadband subscriptions (per 100 people)""","""IT.NET.BBND.P2""","""""","""""","""""","""""","""""","""""",...,"""2.873844916""","""3.10600869""","""3.202900489""","""""","""3.419785111""","""3.524793756""","""""","""""",,None

In [15]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = cleaned_in_subs_df[selected_columns]

cleaned_in_subs_df = selected_columns

cleaned_in_subs_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""19.15150186""","""""","""""","""18.66251944""","""18.53389192""","""18.22419598""","""""","""""","""""","""17.85009677""","""17.82614814"""
1,Africa Eastern and Southern,"""AFE""","""0.196025141368356""","""0.29238007125147""","""0.351953126198483""","""0.452910908034707""","""0.535180357803304""","""0.514450660064243""","""0.507694668659498""","""0.539087555281365""","""0.691819236505032""","""0.620279018291044""","""0.730465333404574"""
2,Afghanistan,"""AFG""","""0.005321098""","""""","""0.004923444""","""0.004755683""","""0.004584883""","""0.020937089""","""0.025409826""","""0.025760717""","""0.04360971""","""0.052113481""","""0.06817675"""
3,Africa Western and Central,"""AFW""","""0.105775943595984""","""""","""0.108365892133372""","""0.106400199967978""","""0.132959962499429""","""0.142783493856492""","""0.238595580832002""","""0.234462471307125""","""0.269759705316744""","""0.269670766137041""","""0.388434069390146"""
4,Angola,"""AGO""","""0.064200827""","""0.065200246""","""0.08143466""","""0.085218183""","""0.323462511""","""0.545977401""","""0.290601057""","""0.320832181""","""0.350331381""","""0.368021006""","""0.686830388"""
5,Albania,"""ALB""","""3.622537242""","""4.420037688""","""5.53517694""","""6.323350008""","""7.210701979""","""8.425730621""","""9.245858213""","""10.54444485""","""12.58065223""","""15.17778727""","""17.75249333"""
6,Andorra,"""AND""","""34.25942756""","""36.50804897""","""37.8879626""","""38.8616428""","""40.16922175""","""42.78147911""","""44.78908189""","""46.43263449""","""47.54242598""","""47.62453663""","""48.45559846"""
7,Arab World,"""ARB""","""2.04323473083935""","""2.61348128426564""","""2.97824917361701""","""2.75542089172485""","""3.28056141344334""","""4.98570358832213""","""5.40362000528477""","""6.75037761278678""","""7.42213410612556""","""7.48830314498961""","""8.64722518977881"""
8,United Arab Emirates,"""ARE""","""9.27657679""","""10.11017229""","""11.02124993""","""11.90530274""","""12.35591819""","""13.8439047""","""14.4268074""","""30.45588719""","""33.09090531""","""33.06633106""","""34.94155291"""
9,Argentina,"""ARG""","""9.801036362""","""11.01141984""","""12.27244996""","""14.74705183""","""15.22382257""","""15.84905726""","""16.60628602""","""17.80239782""","""19.07896627""","""19.65153383""","""21.25312017"""

In [19]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_in_subs_df = cleaned_in_subs_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_in_subs_df.columns[2:13]:
    cleaned_in_subs_df[column] = pd.to_numeric(cleaned_in_subs_df[column], errors='coerce')
    
# Display the updated DataFrame
cleaned_in_subs_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,19.151502,NaN,NaN,18.662519,18.533892,18.224196,NaN,NaN,NaN,17.850097,17.826148
1,Africa Eastern and Southern,AFE,0.196025,0.29238,0.351953,0.452911,0.535180,0.514451,0.507695,0.539088,0.691819,0.620279,0.730465
2,Afghanistan,AFG,0.005321,NaN,0.004923,0.004756,0.004585,0.020937,0.025410,0.025761,0.043610,0.052113,0.068177
3,Africa Western and Central,AFW,0.105776,NaN,0.108366,0.106400,0.132960,0.142783,0.238596,0.234462,0.269760,0.269671,0.388434
4,Angola,AGO,0.064201,0.06520,0.081435,0.085218,0.323463,0.545977,0.290601,0.320832,0.350331,0.368021,0.686830

In [21]:
# Replace the NaN values with 0
cleaned_in_subs_df.fillna(0, inplace=True)

cleaned_in_subs_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,19.151502,0.000000,0.000000,18.662519,18.533892,18.224196,0.000000,0.000000,0.000000,17.850097,17.826148
1,Africa Eastern and Southern,AFE,0.196025,0.292380,0.351953,0.452911,0.535180,0.514451,0.507695,0.539088,0.691819,0.620279,0.730465
2,Afghanistan,AFG,0.005321,0.000000,0.004923,0.004756,0.004585,0.020937,0.025410,0.025761,0.043610,0.052113,0.068177
3,Africa Western and Central,AFW,0.105776,0.000000,0.108366,0.106400,0.132960,0.142783,0.238596,0.234462,0.269760,0.269671,0.388434
4,Angola,AGO,0.064201,0.065200,0.081435,0.085218,0.323463,0.545977,0.290601,0.320832,0.350331,0.368021,0.686830
5,Albania,ALB,3.622537,4.420038,5.535177,6.323350,7.210702,8.425731,9.245858,10.544445,12.580652,15.177787,17.752493
6,Andorra,AND,34.259428,36.508049,37.887963,38.861643,40.169222,42.781479,44.789082,46.432634,47.542426,47.624537,48.455598
7,Arab World,ARB,2.043235,2.613481,2.978249,2.755421,3.280561,4.985704,5.403620,6.750378,7.422134,7.488303,8.647225
8,United Arab Emirates,ARE,9.276577,10.110172,11.021250,11.905303,12.355918,13.843905,14.426807,30.455887,33.090905,33.066331,34.941553
9,Argentina,ARG,9.801036,11.011420,12.272450,14.747052,15.223823,15.849057,16.606286,17.802398,19.078966,19.651534,21.253120

In [23]:
cleaned_in_subs_df

# Calculate the average for each country
average_by_country = cleaned_in_subs_df.groupby('Country Code').apply(lambda group: group.drop(columns=['Country Name', 'Country Code']).mean(skipna=True, axis=1))

# Replace all 0.0 values with the corresponding country average
for col in cleaned_in_subs_df.columns[2:]:
    cleaned_in_subs_df[col] = cleaned_in_subs_df.apply(lambda row: average_by_country[row['Country Code']][row.name] if row[col] == 0.0 else row[col], axis=1)

cleaned_in_subs_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,19.151502,10.022578,10.022578,18.662519,18.533892,18.224196,10.022578,10.022578,10.022578,17.850097,17.826148
1,Africa Eastern and Southern,AFE,0.196025,0.292380,0.351953,0.452911,0.535180,0.514451,0.507695,0.539088,0.691819,0.620279,0.730465
2,Afghanistan,AFG,0.005321,0.023236,0.004923,0.004756,0.004585,0.020937,0.025410,0.025761,0.043610,0.052113,0.068177
3,Africa Western and Central,AFW,0.105776,0.181564,0.108366,0.106400,0.132960,0.142783,0.238596,0.234462,0.269760,0.269671,0.388434
4,Angola,AGO,0.064201,0.065200,0.081435,0.085218,0.323463,0.545977,0.290601,0.320832,0.350331,0.368021,0.686830
5,Albania,ALB,3.622537,4.420038,5.535177,6.323350,7.210702,8.425731,9.245858,10.544445,12.580652,15.177787,17.752493
6,Andorra,AND,34.259428,36.508049,37.887963,38.861643,40.169222,42.781479,44.789082,46.432634,47.542426,47.624537,48.455598
7,Arab World,ARB,2.043235,2.613481,2.978249,2.755421,3.280561,4.985704,5.403620,6.750378,7.422134,7.488303,8.647225
8,United Arab Emirates,ARE,9.276577,10.110172,11.021250,11.905303,12.355918,13.843905,14.426807,30.455887,33.090905,33.066331,34.941553
9,Argentina,ARG,9.801036,11.011420,12.272450,14.747052,15.223823,15.849057,16.606286,17.802398,19.078966,19.651534,21.253120

In [24]:
# Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_in_subs_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Internet Subscription Per 100")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Round all numerical values to two decimal places
melted_df = melted_df.round(2)

# Step 4: Display the modified DataFrame
melted_df.head()

,Country Name,Country Code,Year,Internet Subscription Per 100
0,Afghanistan,AFG,2010,0.01
1,Africa Eastern and Southern,AFE,2010,0.20
2,Africa Western and Central,AFW,2010,0.11
3,Albania,ALB,2010,3.62
4,Algeria,DZA,2010,2.51

In [25]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Internet_Sbcription.csv', index=False)