In [25]:
#Import Dependancies
import pandas as pd
import os

In [26]:
#Import File
livining_in_slums = 'Population_Living_in_Slums.csv'
livining_in_slums_df = pd.read_csv(livining_in_slums,  sep="\t")
livining_in_slums_df.head(10)

         Data Source,"World Development Indicators",
0                    Last Updated Date,"2023-06-29",
1  Country Name,"Country Code","Indicator Name","...
2  Aruba,"ABW","Population living in slums (% of ...
3  Africa Eastern and Southern,"AFE","Population ...
4  Afghanistan,"AFG","Population living in slums ...
5  Africa Western and Central,"AFW","Population l...
6  Angola,"AGO","Population living in slums (% of...
7  Albania,"ALB","Population living in slums (% o...
8  Andorra,"AND","Population living in slums (% o...
9  Arab World,"ARB","Population living in slums (...

In [27]:
list(livining_in_slums_df)

['Data Source,"World Development Indicators",']

In [28]:
# Get the contents of row 2
row_2_data = livining_in_slums_df.iloc[1]
# Convert row 2 data to a list
columns = row_2_data.tolist()
columns

['Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022",']

In [29]:
# Split columns
split_data = livining_in_slums_df['Data Source,"World Development Indicators",'].str.split(',', n=68, expand=True)

# Create a new DataFrame to store the cleaned data with appropriate column names
split_livining_in_slums_df = pd.DataFrame(
    {
        'Country Name': split_data[0],
        'Country Code': split_data[1],
        'Indicator Name': split_data[2],
        'Indicator Code': split_data[3],
    }
)


# Concatenate the remaining columns from original data
split_livining_in_slums_df = pd.concat([split_livining_in_slums_df, split_data.iloc[:, 4:]], axis=1)
split_livining_in_slums_df = split_livining_in_slums_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_livining_in_slums_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,4,5,6,7,8,9,...,59,60,61,62,63,64,65,66,67,68
0,Country Name,"""Country Code""","""Indicator Name""","""Indicator Code""","""1960""","""1961""","""1962""","""1963""","""1964""","""1965""",...,"""2015""","""2016""","""2017""","""2018""","""2019""","""2020""","""2021""","""2022""",,None
1,Aruba,"""ABW""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
2,Africa Eastern and Southern,"""AFE""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""55.3487111187575""","""""","""54.6729401643048""","""""","""54.3863511297165""","""""","""""",,None
3,Afghanistan,"""AFG""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""72.12863""","""""","""73.3""","""""","""73.3""","""""","""""",,None
4,Africa Western and Central,"""AFW""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""51.1209965189702""","""""","""48.698233778138""","""""","""46.2571803729386""","""""","""""",,None
5,Angola,"""AGO""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""56.44953""","""""","""62.58105""","""""","""62.6""","""""","""""",,None
6,Albania,"""ALB""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""7.8""","""""","""5.3""","""""","""2.8""","""""","""""",,None
7,Andorra,"""AND""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
8,Arab World,"""ARB""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""23.6471195319722""","""""","""23.9740705699105""","""""","""""","""""","""""",,None
9,United Arab Emirates,"""ARE""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [31]:
# Assign row 0 as column names
split_livining_in_slums_df.columns = split_livining_in_slums_df.iloc[0]

# Remove any quotation marks from column names
split_livining_in_slums_df.columns = split_livining_in_slums_df.columns.str.replace('"', '')

# Drop row 0 from the DataFrame
split_livining_in_slums_df = split_livining_in_slums_df.drop(index=0).reset_index(drop=True)

# Display the cleaned DataFrame
split_livining_in_slums_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,,None
0,Aruba,"""ABW""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
1,Africa Eastern and Southern,"""AFE""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""55.3487111187575""","""""","""54.6729401643048""","""""","""54.3863511297165""","""""","""""",,None
2,Afghanistan,"""AFG""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""72.12863""","""""","""73.3""","""""","""73.3""","""""","""""",,None
3,Africa Western and Central,"""AFW""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""51.1209965189702""","""""","""48.698233778138""","""""","""46.2571803729386""","""""","""""",,None
4,Angola,"""AGO""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""56.44953""","""""","""62.58105""","""""","""62.6""","""""","""""",,None
5,Albania,"""ALB""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""7.8""","""""","""5.3""","""""","""2.8""","""""","""""",,None
6,Andorra,"""AND""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
7,Arab World,"""ARB""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""23.6471195319722""","""""","""23.9740705699105""","""""","""""","""""","""""",,None
8,United Arab Emirates,"""ARE""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None
9,Argentina,"""ARG""","""Population living in slums (% of urban popula...","""EN.POP.SLUM.UR.ZS""","""""","""""","""""","""""","""""","""""",...,"""""","""""","""""","""""","""""","""""","""""","""""",,None

In [32]:
#Filtered columns for desired years
years_columns = [str(year) for year in range(2010, 2021)]

# Select the desired columns
selected_columns = ['Country Name', 'Country Code'] + years_columns

# Create the new DataFrame
selected_columns = split_livining_in_slums_df[selected_columns]

cleaned_livining_in_slums_df = selected_columns

cleaned_livining_in_slums_df.head(10)

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,"""ABW""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
1,Africa Eastern and Southern,"""AFE""","""57.6771929585988""","""""","""56.9068102992281""","""""","""56.1389565275885""","""""","""55.3487111187575""","""""","""54.6729401643048""","""""","""54.3863511297165"""
2,Afghanistan,"""AFG""","""64.80761""","""""","""67.24795""","""""","""69.68829""","""""","""72.12863""","""""","""73.3""","""""","""73.3"""
3,Africa Western and Central,"""AFW""","""58.9139334015265""","""""","""56.3153508557757""","""""","""53.7145973267546""","""""","""51.1209965189702""","""""","""48.698233778138""","""""","""46.2571803729386"""
4,Angola,"""AGO""","""38.05496""","""""","""44.18648""","""""","""50.31801""","""""","""56.44953""","""""","""62.58105""","""""","""62.6"""
5,Albania,"""ALB""","""15.4""","""""","""12.9""","""""","""10.3""","""""","""7.8""","""""","""5.3""","""""","""2.8"""
6,Andorra,"""AND""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
7,Arab World,"""ARB""","""31.8523767002419""","""""","""28.6539253680343""","""""","""25.5001086880115""","""""","""23.6471195319722""","""""","""23.9740705699105""","""""",""""""
8,United Arab Emirates,"""ARE""","""""","""""","""""","""""","""""","""""","""""","""""","""""","""""",""""""
9,Argentina,"""ARG""","""16.66365""","""""","""15.93801""","""""","""""","""""","""""","""""","""""","""""",""""""

In [34]:
# Clean DF and Convert Columns

# Remove the quotation marks from all columns
cleaned_livining_in_slums_df = cleaned_livining_in_slums_df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

# Convert columns the Years to float data type
for column in cleaned_livining_in_slums_df.columns[2:13]:
    cleaned_livining_in_slums_df[column] = pd.to_numeric(cleaned_livining_in_slums_df[column], errors='coerce')

# Round all numerical values to two decimal places
cleaned_livining_in_slums_df = cleaned_livining_in_slums_df.round(2)

# Display the updated DataFrame
cleaned_livining_in_slums_df.head()

,Country Name,Country Code,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,57.68,NaN,56.91,NaN,56.14,NaN,55.35,NaN,54.67,NaN,54.39
2,Afghanistan,AFG,64.81,NaN,67.25,NaN,69.69,NaN,72.13,NaN,73.30,NaN,73.30
3,Africa Western and Central,AFW,58.91,NaN,56.32,NaN,53.71,NaN,51.12,NaN,48.70,NaN,46.26
4,Angola,AGO,38.05,NaN,44.19,NaN,50.32,NaN,56.45,NaN,62.58,NaN,62.60

In [35]:
 # Step 1: Melt the DataFrame to transform the years into a separate column
melted_df = cleaned_livining_in_slums_df.melt(id_vars=["Country Name", "Country Code"], var_name="Year", value_name="Personal Remittance")

# Step 2: Sort the DataFrame by "Country Name" and "Year" for better organization
melted_df = melted_df.sort_values(by=["Year", "Country Name"])

# Step 3: Reset the index of the DataFrame
melted_df = melted_df.reset_index(drop=True)

# Step 4: Display the modified DataFrame
melted_df.head()

                  Country Name Country Code  Year  Personal Remittance
0                  Afghanistan          AFG  2010                64.81
1  Africa Eastern and Southern          AFE  2010                57.68
2   Africa Western and Central          AFW  2010                58.91
3                      Albania          ALB  2010                15.40
4                      Algeria          DZA  2010                30.80

In [37]:
# Export the DataFrame to the CSV file
melted_df.to_csv('Cleaned_Data/Population_Living_in_Slums.csv', index=False)